Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

chore: merged yml
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

Notes added by 'git notes add'
  13358df13fca815744f90715196e810cd0179240
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

chore: attestation yml renamed
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

chore: bump common workflows again
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix workflow
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update trivy
  .trivyignore.yaml
Due: none

Fix: [AEA-0000] - fix release workflow (#4424)
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .trivyignore.yaml
Due: lint-githubactions

really fix it
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix ci and release workflow (#4425)
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

feat: implement toggled signature validation
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  cdk.json
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/utils/feature-flags.ts
Due: lint-coordinator, lint-cdk, build-coordinator, lint-githubactions

feat: implement toggled signature validation
  packages/coordinator/tests/utils/feature-flags.spec.ts
Due: lint-coordinator, build-coordinator

Output the workflow ID, and do a more flexible search for it
  .github/workflows/run_epsat_tests.yml
  scripts/run_epsat_e2e_tests.py
Due: lint-githubactions

Prevent script injection
  .github/workflows/run_epsat_tests.yml
Due: lint-githubactions

Chore: [AEA-0000] - For EPSAT e2e tests, output the workflow ID, and do a more flexible search for it (#4427)
  .github/workflows/run_epsat_tests.yml
  scripts/run_epsat_e2e_tests.py
Due: lint-githubactions
