Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

permissions
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

permissions
  .github/workflows/pull_request.yml
Due: lint-githubactions

more known vulns
  .grype.yaml
Due: none

even more permissions
  .github/workflows/run_epsat_tests.yml
Due: lint-githubactions

update zizmor
  zizmor.yml
Due: none

more vulns
  .grype.yaml
Due: none

add account id
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

feat: Add unit tests
  package-lock.json
  packages/fhir-schema-generation/jest.config.ts
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
  packages/fhir-schema-generation/tests/common.test.ts
  packages/fhir-schema-generation/tests/download-simplifier-package.test.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tests/parse-simplifier-package.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
  packages/fhir-schema-generation/tsconfig.json
  packages/fhir-schema-generation/vitest.config.ts
Due: none

Use developing regression test tag
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

report what regression test file will be used
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

testing secret with new qc
  .gitallowed
Due: none

Dont allow user-restricted access to the unattended endpoint
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

test secret-scan-old-qc
  .sbom/sbom.dev.cdx.json
  README.md
Due: none

secret scan new qc
  Makefile
Due: none

update package lock
  package-lock.json
Due: none

refactor the validation script to be a bit easier to understand
  packages/coordinator/src/services/validation/parameters-validator.ts
  packages/coordinator/tests/services/validation/parameters-validator.spec.ts
Due: lint-coordinator, build-coordinator

add CODEOWNERS
  .github/CODEOWNERS
Due: none

Bash typo
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

Chore: [AEA-0000] - remove cdk_pull_image_role (#4516)
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
Due: lint-githubactions

chore: addresses commments making validation DRY and removes pointless wrapper
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
Due: lint-coordinator, build-coordinator

Tighten scope so unattended downloads are rejected sooner if the scope is wrong
  packages/coordinator/src/services/validation/scope-validator.ts
  packages/coordinator/tests/services/validation/parameters-validator.spec.ts
Due: lint-coordinator, build-coordinator

Add examples. Use proper schema component for unattended release
  examples/spec/dispensing/release/acute-primary-unattended-example-req.json
  examples/spec/dispensing/release/eRD-primary-unattended-example-req.json
  examples/spec/dispensing/release/repeat-primary-unattended-example-req.json
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/schemas/requests/dispensing/Release.yaml
Due: oas-build-checks

chore: removes 2nd import
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

Add AWS app scope for application-restricted things to be able to hit the unattended endpoint
  examples/spec/dispensing/release/acute-primary-unattended-example-req.json
  packages/coordinator/src/services/validation/scope-validator.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/tests/services/validation/parameters-validator.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

Update: [AEA-4652] - signature validation on prescription creation (#4426)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .trivyignore.yaml
  azure/templates/run_tests.yml
  cdk.json
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/src/utils/feature-flags.ts
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/coordinator/tests/utils/feature-flags.spec.ts
  packages/e2e-tests/services/update-prescriptions.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: lint-coordinator, lint-cdk, build-coordinator, lint-githubactions

KISS, dont have a function if we already know the answer
  packages/coordinator/src/services/validation/parameters-validator.ts
  packages/coordinator/src/services/validation/scope-validator.ts
Due: lint-coordinator, build-coordinator

feat: Add complex models and definitions
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/fhir-package/structure-definition.interface.ts
  packages/fhir-schema-generation/src/models/structure-definition/kind.type.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

AEA-6076 Add Makefile target and first draft of run_sync script.
  Makefile
  scripts/run_sync.sh
Due: none

Update the translation to make the author an optional field (hope spine is okay with that)
  packages/coordinator/src/services/translation/common/index.ts
  packages/coordinator/src/services/translation/request/dispense/release.ts
  packages/coordinator/tests/services/translation/request/dispense/release.spec.ts
  packages/models/hl7-v3/release-request.ts
Due: lint-models, lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
