Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Allow null in the translation function I missed
  packages/coordinator/src/services/translation/request/dispense/release.ts
  packages/coordinator/tests/services/translation/request/dispense/release.spec.ts
Due: lint-coordinator, build-coordinator

fix: revert package.lock changes
  package-lock.json
Due: none

address some copilot comments
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  postman/dispensing_collection.json
Due: oas-build-checks

Copilot suggested adding unit tests for the broad behaviour of the release endpoints. These are the cases I think are useful but I'm not convinced how necessary they are. Better safe than sorry though
  packages/coordinator/tests/routes/release.spec.ts
Due: lint-coordinator, build-coordinator

Fix sonar problem
  packages/coordinator/src/services/translation/common/index.ts
Due: lint-coordinator, build-coordinator

use tagged release
  .github/workflows/pull_request.yml
Due: lint-githubactions

remove env.branch_name
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/update_validator_version.yml
Due: lint-githubactions

undo nominated release change, so that it requires agent again
  packages/coordinator/src/services/translation/request/dispense/release.ts
  packages/coordinator/tests/services/translation/request/dispense/release.spec.ts
Due: lint-coordinator, build-coordinator

fix zizmor
  zizmor.yml
Due: none

use new tag
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/run_epsat_tests.yml
Due: lint-githubactions

another vuln
  .grype.yaml
Due: none

update permissions
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

feat: Add more unit test coverage
  Makefile
  package.json
  packages/fhir-schema-generation/package-lock.json
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
  packages/fhir-schema-generation/tests/common.test.ts
  packages/fhir-schema-generation/tests/download-simplifier-package.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
Due: none

feat: Add more unit test coverage
  package-lock.json
  package.json
Due: none

more permissions
  .github/workflows/pull_request.yml
Due: lint-githubactions

remove
  zizmor.yml
Due: none

all the ignore-scripts
  Makefile
Due: none

fix
  .gitallowed
  .github/workflows/update_validator_version.yml
Due: lint-githubactions

Migrate some new files to vitest
  package-lock.json
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/utils/feature-flags.spec.ts
Due: lint-coordinator, build-coordinator

fix install
  Makefile
Due: none

fix some long running tests failing
  packages/tool/site/client/tests/components/claim/claimForm.spec.tsx
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
  vitest.workspace.ts
Due: lint-epsat-client

Address copilot comment about hasTestFail usage
  packages/tool/e2e-tests/live.test.ts
Due: none

Sonar ignore vitest file
  sonar-project.properties
Due: none

Use node: for imports
  vitest.workspace.ts
Due: none

feat: Remove package lock
  packages/fhir-schema-generation/package-lock.json
Due: none

Jest was providing expect, but now we need a standalone package to serve that
  packages/bdd-tests/step_definitions/createPrescriptionSteps.ts
  packages/bdd-tests/step_definitions/releasePrescriptionSteps.ts
Due: lint-bdd-tests

Remove transition file
  packages/tool/site/client/tests/vitest.setup.ts
Due: lint-epsat-client

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
