Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

release to ref
  .github/workflows/pull_request.yml
Due: lint-githubactions

use new regression test tag
  scripts/run_regression_tests.py
Due: none

Fix: [AEA-0000] - use latest regression test tag (#3543)
  scripts/run_regression_tests.py
Due: none

changed function to change null to undefined
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

removed commented out code
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

higher spike arest for testse
  packages/coordinator/manifest_template.yml
Due: none

Fix: [AEA-0000] - higher spike arest for PTL environments (#3559)
  packages/coordinator/manifest_template.yml
Due: none

added trailing newline
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

added trailing newline
  package-lock.json
Due: none

made it so identifier is undefined if not available
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-5392] - changing so you cant have null as identifier (#3575)
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

feat: changes dispensing urls in examples
  examples/spec/dispensing/release/acute-primary-example-res.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Docs: [AEA-3929] - Update schema examples to remove WhenPrepared and daysSupply objects (#3510)
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

better logging
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/translation/response/practitioner.ts
Due: lint-coordinator, build-coordinator

new regression script
  .github/workflows/run_regression_tests.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

all environment mappings
  scripts/run_regression_tests.py
Due: none

fix it
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

new tag
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

fix url
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - new regression script (#3648)
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  scripts/run_regression_tests.py
Due: lint-githubactions

skip sandbox regression
  azure/templates/run_tests.yml
Due: none

Fix: [AEA-0000] - skip sandbox regression (#3657)
  azure/templates/run_tests.yml
Due: none

add a space
  azure/templates/run_tests.yml
Due: none

Fix: [AEA-0000] - really fix sandbox (#3658)
  azure/templates/run_tests.yml
Due: none

increase idle timeout
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

set ssl policy
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

usel tls1.3
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

no ssl policy for http
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

Fix: [AEA-5440] - increase idle timeout (#3659)
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

Remove int from servers list
  .github/scripts/deploy_api.sh
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

update dev container dockerfile
  .devcontainer/Dockerfile
Due: check-language-version

Missed a server definition
  packages/specification/electronic-prescription-service-api.template.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
