Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

prep for github pages
  .devcontainer/Dockerfile
  .gitignore
  .tool-versions
Due: check-language-version

Fix: [AEA-0000] - prep for github pages (#3664)
  .devcontainer/Dockerfile
  .gitignore
  .tool-versions
Due: check-language-version

initial gh-pages commit
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.env
  .devcontainer/devcontainer.json
  .gitignore
  .pre-commit-config.yaml
  .tool-versions
  Makefile
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: check-language-version

initial pages
  404.html
  Gemfile
  Gemfile.lock
  _config.yml
  _data/dev-pr_deployments.csv
  _data/dev-pr_latest.csv
  _data/dev_deployments.csv
  _data/dev_latest.csv
  _data/environments.csv
  _data/int_deployments.csv
  _data/int_latest.csv
  _data/prod_deployments.csv
  _data/prod_latest.csv
  _data/qa_deployments.csv
  _data/qa_latest.csv
  _data/ref_deployments.csv
  _data/ref_latest.csv
  _includes/footer.html
  _includes/full_deployment_history.html
  assets/main.scss
  dev.html
  index.html
  int.html
  prod.html
  qa.html
  ref.html
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

move create release notes to github action
  .github/actions/mark_jira_released/action.yml
  .github/actions/update_confluence_jira/action.yml
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_target_deployed_tag.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/post_prod_deploy.yml
  azure/templates/pre_int_deploy.yml
Due: lint-githubactions

fix script permissions
  .github/scripts/call_mark_jira_released.sh
  .github/scripts/create_env_release_notes.sh
  .github/scripts/create_int_rc_release_notes.sh
  .github/scripts/get_target_deployed_tag.sh
Due: none

test updating gh-pages
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update readme
  README.md
Due: none

add secret
  .github/workflows/pull_request.yml
Due: lint-githubactions

add missing script
  .github/scripts/get_current_dev_tag.sh
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

correct page ids
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

do not do stuff for pr
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

correct env
  _data/environments.csv
  _data/int-sandbox_deployments.csv
  _data/int-sandbox_latest.csv
  _data/internal-dev-sandbox_latest.csv
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
  int-sandbox.html
  internal-dev-sandbox.html
  internal-dev.html
  internal-qa.html
  qa.html
  ref.html
Due: none

correct readme
  README.md
Due: none

Tweak the deploy script to update the servers block to sandbox. Revert changes to the yaml files
  .github/scripts/deploy_api.sh
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Remove awscli from installation list
  .devcontainer/Dockerfile
Due: check-language-version

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Fix tests
  packages/coordinator/src/services/translation/response/practitioner.ts
  packages/coordinator/tests/services/translation/common/dosage-instructions.spec.ts
  packages/coordinator/tests/services/translation/request/agent-person.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-notification.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/release.spec.ts
  packages/coordinator/tests/services/translation/request/job-role-code.spec.ts
  packages/coordinator/tests/services/translation/request/organization.spec.ts
  packages/tool/site/client/tests/components/dispense/createDispenseNotification.spec.ts
Due: lint-coordinator, lint-epsat-client, build-coordinator

Update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

update deprecated command
  packages/e2e-tests/package.json
Due: none

deploy to recovery
  .github/workflows/pull_request.yml
Due: lint-githubactions

update validator version
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-0000] - update validator version (#3694)
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

correct github output
  .github/workflows/release.yml
Due: lint-githubactions

Turn off deploying PR docs
  .github/scripts/deploy_api.sh
Due: none

no env for regression test
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

deploy pr
  .github/scripts/deploy_api.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

store sha1enabledapps in ssm
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

permissions to read ssm
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

different name
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

deploy to correct apigee env
  .github/workflows/pull_request.yml
Due: lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
