Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

chore: turn off feature flag in dev
  .github/workflows/pull_request.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

feat: Improve formatting
  packages/fhir-schema-generation/src/utils/deep-mutible.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

Fix: [AEA-4652] - splits creation and release signature validation responses (#4538)
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: lint-coordinator, build-coordinator

AEA-6449 Add stack, resources and construct for FAME observability.
  packages/cdk/constructs/S3Bucket.ts
  packages/cdk/resources/fame/ObservabilityResources.ts
  packages/cdk/stacks/FAMEStack.ts
  packages/cdk/tsconfig.json
Due: lint-cdk

Notes added by 'git notes add'
  23d41ff5f52b7f9d0bd0919cb44d0c516179cedd
Due: none

feat: tidy processProperties
  packages/fhir-schema-generation/src/types/deep-mutable.type.ts
  packages/fhir-schema-generation/src/types/editable-json-schema.type.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Fix root location in the file
  vitest.workspace.ts
Due: none

Fix some broken tests
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

Claude thinks the copy is now incorrect - try the fix
  packages/tool/site/Dockerfile
Due: check-language-version

feat: Improve handling of bindings and references
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/parse-simplifier-package.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

Investigaed vulnerabilities and we're not affected
  .grype.yaml
Due: none

feat: Improve formatting with allOf
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

Mirror the jest increased timeout limit
  vitest.workspace.ts
Due: none

feat: Update unit tests
  Makefile
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
  packages/fhir-schema-generation/tests/download-simplifier-package.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
Due: none

feat: update package.lock
  package-lock.json
Due: none

Fixed patient translation to never give a null healthCareProvider.id
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Convert-Response-Send-200_OK.xml
  packages/coordinator/src/services/translation/request/patient.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
Due: lint-coordinator, build-coordinator

feat: update package.lock
  package-lock.json
  packages/fhir-schema-generation/package.json
Due: none

Fix: [AEA-6537] - Fixed patient translation to never give a null healthCareProvider.id (#4565)
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/controlled-drugs/2-Convert-Response-Send-200_OK.xml
  packages/coordinator/src/services/translation/request/patient.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
Due: lint-coordinator, build-coordinator

Unit test coverage
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

Notes added by 'git notes add'
  2bd2f9112d86afd240cc7be643b10005857924db
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
