Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

chore: adds missing sonar setup config
  packages/fhir-schema-generation/jest.config.ts
  sonar-project.properties
Due: none

fix: adds missing object containing check
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

chore: address sonar issues
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

test: update tests to pass after merge
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

Update Makefile
  Makefile
Due: none

chore: swap jest for vitest
  package-lock.json
  packages/fhir-schema-generation/jest.config.ts
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tsconfig.json
  packages/fhir-schema-generation/vitest.config.ts
Due: none

chore: address copilot comments
  packages/fhir-schema-generation/src/models/fhir-package/package-metadata.interface.ts
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
Due: none

AEA-6006 Makefiles and targets.
  Makefile
  lambdas/Makefile
  lambdas/python/Makefile
Due: none

AEA-6006 Dependencies.
  poetry.lock
  pyproject.toml
Due: none

AEA-6006 Hello world and unit test.
  lambdas/python/__init__.py
  lambdas/python/create/handler.py
  lambdas/python/tests/test_handler.py
Due: none

chore: addresses copilot review comments
  Makefile
  README.md
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/models/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

refactor: avoids double translation by reusing ParentPrescription
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/tests/routes/process.spec.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
Due: lint-coordinator, build-coordinator

chore: ommits unneeded undefined value
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

chore: addresses SQ code smells
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/coordinator/tests/utils/feature-flags.spec.ts
Due: lint-coordinator, build-coordinator

chore: apply suggestions from code review
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Apply suggestion from @tstephen-nhs
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

add job to update dev container
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

add cooldown for dependabot
  .github/dependabot.yml
Due: lint-githubactions

correct indent
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

AEA-6006 Change approach to that in eps-assist-me repo.
  .gitignore
  .vscode/electronic-prescription-service-api.code-workspace
  lambdas/Makefile
  lambdas/python/Makefile
  packages/create_prescription/.vscode/settings.json
  packages/create_prescription/__init__.py
  packages/create_prescription/app/__init__.py
  packages/create_prescription/app/handler.py
  packages/create_prescription/pytest.ini
  packages/create_prescription/tests/test_handler.py
  poetry.lock
  pyproject.toml
Due: none

AEA-6006 Add powertools to lambda handler and improve placeholder unit test.
  Makefile
  packages/create_prescription/app/handler.py
  packages/create_prescription/tests/conftest.py
  packages/create_prescription/tests/test_handler.py
Due: none

chore: enable signature validation in apim
  packages/coordinator/ecs-proxies-deploy-prod.yml
  packages/coordinator/ecs-proxies-deploy.yml
Due: none

AEA-6006 Add python linting to Makefile.
  Makefile
  packages/tool/scripts/calculate_version.py
  scripts/calculate_version.py
  scripts/generate_prescription_ids.py
  scripts/run_epsat_e2e_tests.py
  scripts/set_version.py
Due: none

Update: [AEA-6321] - Retrieve FHIR Package (#4466)
  .gitignore
  .pre-commit-config.yaml
  .trivyignore.yaml
  .vscode/launch.json
  Makefile
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  packages/fhir-schema-generation/README.md
  packages/fhir-schema-generation/eslint.config.mjs
  packages/fhir-schema-generation/jest.config.ts
  packages/fhir-schema-generation/package-lock.json
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tsconfig.json
  sonar-project.properties
Due: none

AEA-6006 Add to Makefile clean target. Build lambda dependencies.
  .github/workflows/cdk_package_code.yml
  .gitignore
  Makefile
  pyproject.toml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

AEA-6006 Remove redundant Make target and pytest options.
  Makefile
  pyproject.toml
Due: none

AEA-6006 Sonar config.
  sonar-project.properties
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

tests: adds test coverage
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tests/generate-schema.test.ts
  packages/fhir-schema-generation/tests/parse-fhir-schema.test.ts
  packages/fhir-schema-generation/tests/schema-types.test.ts
  packages/fhir-schema-generation/vitest.config.ts
Due: none

chore: fix makefile
  Makefile
Due: none

update workflow
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

fix branch
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions
