Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  dfd3e2b67f881bc4b54d1b115202ba43355700de
Due: none

Notes added by 'git notes add'
  12927c30b156e536d83aeb747e883eb5f82b19a5
Due: none

Notes added by 'git notes add'
  3622c6fcbf1f728e93bc3cc6852184310db19d55
Due: none

Notes added by 'git notes add'
  44da6c25f4f561d78f2cbaec38620a59c30b89e1
Due: none

Notes added by 'git notes add'
  12f99242c9674d131277e55ccf68849d0bfca481
Due: none

Notes added by 'git notes add'
  e2f60ba9ae5a13dc5419c150554bc7b392baa122
Due: none

Notes added by 'git notes add'
  2b2c12e679cec318f30c27fdcff3150671946111
Due: none

Notes added by 'git notes add'
  b7f145aced7dd67bfb5f8a58a58637e1c092b6b8
Due: none

Notes added by 'git notes add'
  20c7a7509690003ebbfb514c7f9dc568b5be2cde
Due: none

Notes added by 'git notes add'
  e7b00953614617c9c21eaa33ae92366f3611b79a
Due: none

Notes added by 'git notes add'
  12819d47ebe05050377aa798fb3293f5e5943c01
Due: none

Notes added by 'git notes add'
  e550e22c329c295cab164ef7a8b73e92d894ed7b
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

fix: conditionally add item level repeats
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
Due: lint-coordinator, build-coordinator

fix: remove new param default
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
Due: lint-coordinator, build-coordinator

handles arraybuffer return type
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

allows cert text
  .gitallowed
Due: none

update gitallowed
  .gitallowed
Due: none

Chore: [AEA-0000] - update gitallowed (#4285)
  .gitallowed
Due: none

Notes added by 'git notes add'
  8dd7fc355b8d67834601fb5252f9ea7dffbc6882
Due: none

scan docker images on build
  .github/scripts/check_ecr_image_scan_results.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  scripts/update_validator_version.sh
Due: lint-githubactions

update validator
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

add trivyignor
  .trivyignore.yaml
  trivy.yaml
Due: none

more ignore
  .trivyignore.yaml
Due: none

use old validator
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Notes added by 'git notes add'
  cc418d9b17b7bf6d219269f18eabca01cee3142c
Due: none

Notes added by 'git notes add'
  3d72aea3fc26a9bc1b357ea3c71a8fbac467afb5
Due: none

Notes added by 'git notes add'
  635009e03fe5e58a4c5987e43de898b47f930752
Due: none

Notes added by 'git notes add'
  51fcda1a5b473af08286931e9c0f1ac6f26971ae
Due: none

Notes added by 'git notes add'
  7f91a41d9ee8bfcb3ba8573016ad9788f302667f
Due: none

Notes added by 'git notes add'
  fb581213199a3de24227887b20d18b44933728a9
Due: none

Notes added by 'git notes add'
  56adc85ab049a5126d2f75c40fde38b18a18070c
Due: none

Notes added by 'git notes add'
  4968890fcadee9af82715442b536834afa39a4c6
Due: none

Notes added by 'git notes add'
  e12895fcabaac047e7dcc0fc36cee0acbf33dea8
Due: none

Notes added by 'git notes add'
  04b77b3608f25dee7c1c7ab94de45ddfc5d5e2d4
Due: none

update trivyignore
  .trivyignore.yaml
Due: none

Notes added by 'git notes add'
  4f25f998fe884d4ab4feea9f14834a3eca35f7b4
Due: none

Notes added by 'git notes add'
  4971ac3f06da2a1a7d029f77a45a87ce46760c26
Due: none

If the role code fails to be fetched (application restricted), then fall back to something meaningful
  packages/coordinator/src/services/translation/request/agent-person.ts
  packages/coordinator/tests/services/translation/request/agent-person.spec.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
