Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Update OAS descriptions to state numberOfRepeatsAllowed applies only to eRD prescriptions
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Docs: [AEA-3946] - Update EPS FHIR API page dm+d (#3839)
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Change oneOf to anyOf in ControlledDrug extension to allow quantityWords and schedule elements together
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
Due: oas-build-checks

chore: [AEA-5087] - debug logging
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

Replace old link with current UK Core version history page
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Hardcode 'in-progress' value in status field
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

Update OAS to state NHSD-Session-URID is mandatory
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update OAS with CIS2 guidance to clarify authentication via smartcard or modern alternatives
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update example for release by ID with another dispenser
  examples/spec/errors/release/with-another-dispenser-error.json
Due: oas-build-checks

Remove numberofPrescriptionsIssues from repeat schema examples
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Docs: [AEA-5111] - OAS Update - CIS2 advice to state authentication can use smartcard or modern alternatives (#3911)
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Change list entry item type to string
  packages/specification/schemas/components/List/CreateList.yaml
Due: oas-build-checks

Docs: [AEA-5040] - Release by id example is wrong for with another dispenser response (#3912)
  examples/spec/errors/release/with-another-dispenser-error.json
Due: oas-build-checks

Docs: [AEA-5095] - Update OAS to state NHSD-Session-URID is mandatory (#3910)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-4451] - Schema Update - Add "string" in the List.entry.item (#3915)
  packages/specification/schemas/components/List/CreateList.yaml
Due: oas-build-checks

fix some dependency versions
  package-lock.json
  package.json
  packages/bdd-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-epsat-client, lint-epsat-server, lint-bdd-tests

Update description as per review comment and remove default value
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

fix deps
  package-lock.json
  package.json
  packages/bdd-tests/package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/tool/e2e-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-client, lint-epsat-server, lint-bdd-tests, build-coordinator

Docs: [AEA-4408] - Remove numberofPrescriptionsIssues from Repeat Schema example (#3914)
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

Remove application restricted access section from OAS
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-5733] - OAS Update - Update the 'Status' so that suppliers are told to hardcode one status in the Dispense notification (#3905)
  packages/specification/schemas/components/MedicationDispense/MedicationDispense.yaml
Due: oas-build-checks

fix deps
  package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/tool/e2e-tests/package.json
  packages/tool/site/server/package.json
Due: lint-coordinator, lint-epsat-server, build-coordinator

more deps
  package-lock.json
  package.json
Due: none

increase lambda timeout
  .github/scripts/deploy_api.sh
Due: none

Check if post method exists before trying to delete the security property
  packages/specification/combineSpec.mjs
Due: none

Restore combineSpec file
  packages/specification/combineSpec.mjs
Due: none

Update schema to include cancel responses
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

remove lambda timeout
  .github/scripts/deploy_api.sh
Due: none

Update cancel prescription responses
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Chore: [AEA-5751] - Update dependabot schedule and add git secrets build command (#3877)
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: lint-githubactions

Add suffix to patient details
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

auth in header
  .github/scripts/delete_stacks.sh
Due: none

more auth in header
  .github/scripts/delete_proxygen_deployments.sh
Due: none

run delete stacks on merges to master
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

Update Managing Organisation details
  packages/specification/schemas/components/Organization/Organization.yaml
Due: oas-build-checks

pass token to delete proxygen
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

Fix: [AEA-0000] - use github auth in delete stacks (#3940)
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/delete_stacks.sh
  .github/workflows/delete_old_cloudformation_stacks.yml
Due: lint-githubactions

Format UUIDs to lowercase
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Fix typo in description
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks
