Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Remove accidentally committed env file. Rotated leaked data
  .env
Due: none

Remove the authoredOn field from dispense, cancellation, and tracker responses only
  packages/coordinator/src/services/communication/tracker111/sandbox.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-medication-request.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
Due: lint-coordinator, build-coordinator

Remove authoredOn from the ReleaseMedicationRequest schema only
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

remove field from json files that are referenced by the affected changes
  examples/sandbox/Release-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Dispense-200_OK.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
Due: oas-build-checks

Remove authoredon from process request-dispense examples
  .gitignore
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Has-StatusReasonCodableConcept-200_OK.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Multiple-Brands.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Expired.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Inconsistent.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-No-Reasons.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-ODS-Code-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-acute-with-review-date.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
Due: lint-coordinator, oas-build-checks, build-coordinator

Remove authoredon from the spec dispense-notification examples
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

Chore: [AEA-3650] - Remove authoredOn field from dispense notifications (#4212)
  .gitignore
  examples/sandbox/Release-Response-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
  packages/coordinator/src/services/communication/tracker111/sandbox.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-medication-request.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Has-StatusReasonCodableConcept-200_OK.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Multiple-Brands.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Expired.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-Inconsistent.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Not-Dispensed-No-Reasons.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-No-ODS-Code-Extension-for-ReimbursementAuthority.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications-acute-with-review-date.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Notifications.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-eRD.json
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

Notes added by 'git notes add'
  3655efa6089bf973f2fa6b94e351642c5d4acaa3
Due: none

Enable application access for dispensing API
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

Notes added by 'git notes add'
  4284d8bd157ae9c2e9efab1ac8d68db010e09cb0
Due: none

Notes added by 'git notes add'
  da0222edd76ee46a9f5832588cf86455ce88606e
Due: none

Notes added by 'git notes add'
  a83e6564a7e648442cdf073fd1089eb0c3c97e8a
Due: none

Notes added by 'git notes add'
  ebfe6e1e314127fd5e5108efc6f6ac0f27f61cf1
Due: none

update to latest npm
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
  scripts/check_language_versions.sh
Due: check-language-version

use latest node
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  package-lock.json
  packages/bdd-tests/package.json
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version

Run the updated regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Point to correct raw gh path
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - update to latest node and npm (#4237)
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  package-lock.json
  packages/bdd-tests/package.json
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
  scripts/check_language_versions.sh
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version

Update OAS c.f. AEA-6098
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

fix dockerfile
  packages/tool/site/Dockerfile
Due: check-language-version

correct css
  packages/tool/site/Dockerfile
  packages/tool/site/client/index.html
  packages/tool/site/client/static/.gitignore
Due: check-language-version

Level3 is application restricted, not level0
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

fix workflow
  .github/workflows/release.yml
Due: lint-githubactions

Chore: [AEA-0000] - fix release workflow (#4240)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  60d0ee9df4446f5747347e92cc9028dd7d02387c
Due: none

fix: repeat info relocation
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/claim/Claim-Request-Repeat-deprecated.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/claim/Claim-Request-Repeat.json
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
Due: lint-coordinator, build-coordinator

docs: migrate repeat info from subDetail to item in examples
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Claim-Request-200_OK.json
  examples/spec/dispensing/claim/eRD-primary-example-req.json
  examples/spec/dispensing/claim/repeat-primary-example-req.json
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
Due: oas-build-checks

Notes added by 'git notes add'
  d78d0c1ea286031eecb81963b1ea0d8c1ab50861
Due: none

Notes added by 'git notes add'
  c80e80ee0a42a8c1acdac18dba11cb0c7e6c2deb
Due: none

chore: DRY implementation
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/models/fhir/dispense-claim.ts
Due: lint-models, lint-coordinator, build-coordinator

chore: DRY implementationi without map-reduce
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/models/fhir/dispense-claim.ts
Due: lint-models, lint-coordinator, build-coordinator

fix: restore suppliedLLineItem.component
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
Due: lint-coordinator, build-coordinator

Notes added by 'git notes add'
  951e79fff1f11e1cb0ba981ba5b9e3763fe897f6
Due: none

Notes added by 'git notes add'
  543abb98f361da75ad2c63736214cfd47879559a
Due: none

Notes added by 'git notes add'
  aea774e398659cf0e885e097c137c8a87f97be13
Due: none

Notes added by 'git notes add'
  0564a627990bd198a5ddffe738af74636cbacbf1
Due: none
