Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Add Dependabot schedule and remove dependabot-auto-approve-and-merge job
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

AEA-6449 Sort-out service name. Some pre-review changes.
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  Makefile
  cdk.json
  packages/cdk/bin/StatefulResourcesApp.ts
  packages/cdk/constructs/S3Bucket.ts
Due: lint-cdk, lint-githubactions

AEA-6449 Update zizmor.
  zizmor.yml
Due: none

AEA-6449 Suppress cfn guard issues.
  packages/cdk/bin/StatefulResourcesApp.ts
  packages/cdk/bin/utils/appUtils.ts
Due: lint-cdk

remove codeowners
  .github/CODEOWNERS
Due: none

feat: Check and filter required properties
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/types/editable-json-schema.type.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

updgrade vitest
  package-lock.json
  package.json
  packages/fhir-schema-generation/package.json
Due: none

update config
  vitest.config.ts
  vitest.workspace.ts
Due: none

Chore: [AEA-0000] - add dependabot approve schedule (#4599)
  .github/CODEOWNERS
  .github/workflows/auto_approve_dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/tool/e2e-tests/package.json
Due: lint-coordinator, build-coordinator

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Make api key a secret var
  bruno/EPS_Proxygen/environments/dev.bru
Due: none

Upgrade: [AEA-0000] - upgrade vitest to 4.1.4 (#4601)
  package-lock.json
  package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/fhir-schema-generation/package.json
  packages/tool/e2e-tests/package.json
  vitest.config.ts
  vitest.workspace.ts
Due: lint-coordinator, build-coordinator

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

AEA-6449 Consistent var naming through workflow and script.
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  cdk.json
  packages/cdk/bin/StatefulResourcesApp.ts
Due: lint-cdk, lint-githubactions

Chore: [AEA-0000] - Make API key a secret var in Bruno (#4602)
  bruno/EPS_Proxygen/environments/dev.bru
Due: none

feat: Update broken tests
  packages/fhir-schema-generation/tests/index.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
Due: none

feat: Use snapshot, then differential, then base
  packages/fhir-schema-generation/src/types/deep-mutable.type.ts
  packages/fhir-schema-generation/src/types/editable-json-schema.type.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

AEA-6449 More generic name for resources file and classes.
  packages/cdk/resources/Observability.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk

fix
  .gitleaksignore
Due: none

Chore: [AEA-0000] - use gitleaks for secret scanning (#4572)
  .gitallowed
  .gitleaksignore
  .pre-commit-config.yaml
Due: none

fix: required properties missing
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
  packages/fhir-schema-generation/tests/index.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
Due: none

feat: Merge changes into refactor
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/filter-schema.ts
  packages/fhir-schema-generation/src/utils/generate-openapi-schema.ts
Due: none

adds core-js for reflect polyfill
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/tests/resources/certificates/test-resources.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
Due: lint-coordinator, build-coordinator

feat: Merge test changes into refactor
  packages/fhir-schema-generation/src/utils/generate-openapi-schema.ts
  packages/fhir-schema-generation/tests/generate-openapi-schema.test.ts
  packages/fhir-schema-generation/tests/index.test.ts
Due: none

feat: Add new tests for filtering
  packages/fhir-schema-generation/src/types/deep-mutable.type.ts
  packages/fhir-schema-generation/tests/filter-schema.test.ts
Due: none

squashes header arrays and updates types
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/communication/ebxml-request-builder.ts
  packages/coordinator/src/services/communication/tracker111/index.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/translation/request/payload/factory.ts
  packages/coordinator/src/services/translation/request/payload/index.ts
  packages/coordinator/src/services/translation/request/payload/message.ts
  packages/coordinator/src/services/translation/request/return/payload/return-payload-factory.ts
  packages/coordinator/src/services/translation/response/index.ts
  packages/coordinator/src/services/translation/response/spine-return-handler.ts
  packages/coordinator/src/utils/headers.ts
  packages/coordinator/src/utils/metadata.ts
Due: lint-coordinator, build-coordinator

Adds ignore
  .github/dependabot.yml
Due: lint-githubactions
