Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Fixed validation and docs for owner parameter in release request
  packages/coordinator/src/services/translation/common/index.ts
  packages/specification/schemas/requests/dispensing/Release.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

use latest
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

all the sha
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/pull_request.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

remove unused workflows
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/pr_title_check.yml
Due: lint-githubactions

add a compile makefile target
  Makefile
Due: none

install cdk
  Makefile
Due: none

Fix: [AEA-0000] - use common workflows (#4067)
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/combine-dependabot-prs.yml
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/delete_old_cloudformation_stacks.yml
  .github/workflows/dependabot_auto_approve_and_merge.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/pr-link.yml
  .github/workflows/pr_title_check.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .github/workflows/update_validator_version.yml
  Makefile
Due: lint-githubactions

Notes added by 'git notes add'
  147356d322fc309b61864b5d6d2758b4df4821ca
Due: none

Notes added by 'git notes add'
  a88ac8cea34277e36ba31cc558c49dee3eef7eb5
Due: none

Notes added by 'git notes add'
  aaa0f7e510dc77aea2736499ecece1487b0a806b
Due: none

Notes added by 'git notes add'
  e20d508f549b8b11107c15ac26628d25dbd1762e
Due: none

Notes added by 'git notes add'
  e2564667efc8e83a22903bdcd48a5738af7b918b
Due: none

Notes added by 'git notes add'
  1553b7bfb767fc42d9cc9307ea6c77033e02494f
Due: none

Notes added by 'git notes add'
  bbba2c4ef37ee4d86940d7023491d8e16aea8603
Due: none

Notes added by 'git notes add'
  50d2539e9fe932059a94774fd19e54f19aae0eff
Due: none

Notes added by 'git notes add'
  a529fa17030189104f3b9d99ceb6a177f1316a68
Due: none

Notes added by 'git notes add'
  cce0f5cf31d6560ea86947103a613ec1e68109a0
Due: none

Notes added by 'git notes add'
  2d7669002c7638a2e4bfa7deee4ead7fdc74283d
Due: none

Notes added by 'git notes add'
  2e81e494130c4797a222e4f7fbfb1e777e65a52e
Due: none

Notes added by 'git notes add'
  2ef966ad607f3d5360039171efa2f788004ff8ae
Due: none

Notes added by 'git notes add'
  cd3be7d14ebb15fac82b9ee23fbba49c3d8702ff
Due: none

Notes added by 'git notes add'
  48ab1a91a1a3d2606e8354bbcd6feecf1b3a5026
Due: none

Notes added by 'git notes add'
  32f5b751e0f7b2bf96ce07c33bb8ab712b43bb37
Due: none

Notes added by 'git notes add'
  680f2c61d06629dd0ce58c70bdfc99ad08406d5a
Due: none

Notes added by 'git notes add'
  d88c3650ac605b90355e98b1f9cb62cf0e3f9b86
Due: none

Fix: [AEA-6022] - Fixed validation and docs for owner parameter in release request (#4081)
  packages/coordinator/src/services/translation/common/index.ts
  packages/specification/schemas/requests/dispensing/Release.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

Notes added by 'git notes add'
  4bf40a189e629f1c15c95f684539b712e653d1ee
Due: none

Notes added by 'git notes add'
  ee8bcc855c26b463f82436bddb187329b6557645
Due: none

Notes added by 'git notes add'
  43d680ad4628ee786bbf1b71f89fa1fa6268e08b
Due: none

Notes added by 'git notes add'
  a5ef1202fa98ce4aac5b3af069a00e3f75315603
Due: none

Notes added by 'git notes add'
  f16707bc235da3444434606dd870c180a2c5af04
Due: none

Notes added by 'git notes add'
  ec73f63b558dbd7341fdf95aa5f5a8cb944d3acb
Due: none

Notes added by 'git notes add'
  02e170893c7c5eeee60c5f3f69f57324a441e661
Due: none

Notes added by 'git notes add'
  1c204f96c747912de10961f86633f86181d2767a
Due: none

Notes added by 'git notes add'
  62db3166d3c13f834d488aaa663d10e41ed73804
Due: none

Notes added by 'git notes add'
  261720919f895c4e9b6910ebffec9fffe290bddc
Due: none

Notes added by 'git notes add'
  53deef316c602621dbb64f1e577db749a098df96
Due: none

Notes added by 'git notes add'
  e5f536cdeda04ffc690a44f394b6d4a4492805dd
Due: none

Upgrade: [dependabot] - bump fhir validator from v1.0.282-alpha to v1.0.299-alpha (#4082)
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
