Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

fix workflows
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .gitignore
  .trivyignore.yaml
Due: lint-githubactions

level3 was on the wrong endpoint
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

new version
  .devcontainer/devcontainer.json
Due: none

new version
  .devcontainer/devcontainer.json
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix docker-build
  Makefile
Due: none

fix: one more hl7 variant
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

fix: additionl normalisation path
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

fix deploy
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

fix: logging
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

chore: trivy ignore tar
  .trivyignore.yaml
Due: none

Fix regression test tag, typo in bruno
  .github/workflows/run_regression_tests.yml
  bruno/EPS_Proxygen/environments/dev.bru
Due: lint-githubactions

chore: trivy ignore fast-xml-parser (again)
  .trivyignore.yaml
Due: none

Check if we are using R002/3/4 and if we are, supply the performer details
  examples/spec/errors/prescription-order-update/R-0004-Cancellation.json
  packages/coordinator/src/services/translation/response/cancellation/cancellation-response.ts
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-response.spec.ts
  packages/specification/schemas/components/MedicationRequest/CancelResponseMedicationRequest.yaml
Due: lint-coordinator, oas-build-checks, build-coordinator

chore: additional debug
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

fix TAG AGIAN
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix: JSON serialisation
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

refactor: parse once, cleanup
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/types/hapi-extensions.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

chore: tidy
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

Chore: [AEA-0000] - trivy ignore tar (#4347)
  .trivyignore.yaml
Due: none

chore: logging
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

try new workflow
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix: LosslessJson.stringify
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

do not need asdf
  .github/workflows/cdk_package_code.yml
  .tool-versions
  .tool-versions.asdf
Due: check-language-version, lint-githubactions

fix it
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: lint-githubactions

check language in github
  Makefile
  packages/tool/azure/azure-build-pipeline.yml
  scripts/check_language_versions.sh
  scripts/run_cfn_guard.sh
Due: check-language-version

Notes added by 'git notes add'
  028d4e1ea07588578a2881925833c1c2a80ca824
Due: none

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

verify attestation
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix epsat tests
  .github/workflows/run_epsat_tests.yml
Due: lint-githubactions

chore: migrate pre-commit config
  .pre-commit-config.yaml
Due: none
