Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Bump past gitpython version that is vulnerable to https://github.com/advisories/GHSA-rpm5-65cw-6hj4
  poetry.lock
  pyproject.toml
Due: none

more vulns
  .grype.yaml
Due: none

AEA-6450 Bump dev container version.
  .devcontainer/devcontainer.json
Due: none

Update grype with isues we are not affected by
  .grype.yaml
Due: none

AEA-6450 Add to grype ignores for validator openjdk issues.
  .grype.yaml
Due: none

Chore: [AEA-0000] - fix delete and set pull requests to temporary proxygen (#4630)
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/deploy_api.sh
  .grype.yaml
  Makefile
  poetry.lock
  pyproject.toml
  scripts/calculate_version.py
  scripts/set_version.py
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

AEA-6450 Initial review changes.
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/Observability.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, lint-cdk, build-coordinator

AEA-6450 Fix nag suppression.
  packages/cdk/nagSuppressions.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk

fix deployment
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/deploy_api.sh
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk, lint-githubactions

AEA-6450 Handle payload as buffer.
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

AEA-6450 Add path to s3 key.
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

AEA-6450 Update package lock.
  package-lock.json
Due: none

AEA-6450 Fix package lock.
  package-lock.json
Due: none

remove need for the deprecated baseUrl
  packages/coordinator/src/services/translation/common/index.ts
  packages/coordinator/tsconfig.json
  packages/e2e-tests/tsconfig-deploy.json
  packages/e2e-tests/tsconfig.json
  packages/tool/site/server/tsconfig.json
Due: lint-coordinator, lint-epsat-server, build-coordinator

Migrate the coordinator. tests pass.
  packages/cdk/tsconfig.json
  packages/coordinator/src/services/translation/common/getResourcesOfType.ts
  packages/coordinator/src/services/translation/common/index.ts
  packages/coordinator/tsconfig-build.json
  packages/coordinator/tsconfig.json
  packages/e2e-tests/tsconfig-deploy.json
  packages/e2e-tests/tsconfig.json
  packages/models/tsconfig.json
  packages/tool/site/client/tsconfig.json
  packages/tool/site/server/tsconfig.json
Due: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, build-coordinator

Include DOM so that we can use console.log
  packages/cdk/tsconfig.json
Due: lint-cdk

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
