Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

fix indent
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

chore: addresses new code duplication
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

Chore: [AEA-0000] - add job to update dev container (#4491)
  .github/workflows/update_dev_container_version.yml
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

fix check
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
  scripts/check_language_versions.sh
Due: check-language-version

chore: address copilot comments
  Makefile
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
Due: none

test: adds coverage to fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir-utils.test.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tests/helpers/package-metadata.ts
Due: none

use node 24.14
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
Due: check-language-version

chore: address regression test and TODO comments
  .github/workflows/pull_request.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Chore: [AEA-0000] - add cooldown for dependabot (#4492)
  .github/dependabot.yml
Due: lint-githubactions

signs with sha1
  examples/primary-care/repeat-prescribing/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

fix: sonar comments
  package-lock.json
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/fhir-package/package-metadata.interface.ts
  packages/fhir-schema-generation/src/models/fhir-package/package-version.interface.ts
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
  packages/fhir-schema-generation/src/utils/generate-schema.ts
  packages/fhir-schema-generation/src/utils/parse-fhir-schema.ts
  packages/fhir-schema-generation/tests/parse-fhir-schema.test.ts
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
