Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  00adcb783451c3d15e8ecc35d0a290d2ba777790
Due: none

Docs: [AEA-5846] - Review and update success and error response codes, schemas, and examples (#3967)
  examples/spec/errors/prescription-order-update/R-0004-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0005-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0007-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0009-Cancellation.json
  examples/spec/errors/prescription-order-update/R-0010-Cancellation.json
  examples/spec/errors/prescription-order-update/R-5000-Cancellation.json
  examples/spec/errors/prescription-order-update/R-5888-Cancellation.json
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Notes added by 'git notes add'
  2474840e66748e8c977cec0e06569d024076babb
Due: none

script extracts x509 cert
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

extracts ca cert
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

skip test
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

logs verification response
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

uses cis2 uid
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-server

sonarcloud
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
Due: lint-epsat-server

user id request only param
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
Due: lint-epsat-server

error on verification failure
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

node zlib
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

Notes added by 'git notes add'
  7122b803086663ba0b84ea0e20ad03cf0c9f6edd
Due: none

Notes added by 'git notes add'
  c1906c9c57252d6b7f047357e8b36c7394dde9c7
Due: none

fix pyproject
  pyproject.toml
Due: none

fix authors
  pyproject.toml
Due: none

Notes added by 'git notes add'
  05eb9653a0b0b9d04d22c0a3c9ae8f31677736bc
Due: none

Notes added by 'git notes add'
  a5352d80dba2df8e0ff1509c2e9eeebcd821575c
Due: none

Notes added by 'git notes add'
  ac332ae690b30e88ada02dda2f46fff3140d4845
Due: none

Notes added by 'git notes add'
  d6495fa6e52e7c18ad590d6708b12bd490e3f62c
Due: none

Notes added by 'git notes add'
  7e39cb858f5ffd6b38d573425e319755c11fca48
Due: none

Notes added by 'git notes add'
  f34e5393a7206215c67ed23574367b43d7e844da
Due: none

Notes added by 'git notes add'
  9d52bf92b2d67335efb9552c49d9f42ca417172c
Due: none

Fix: [AEA-5987] - Use CIS2 UID in RSS Request (#4063)
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  95a0157ff62c4fe9570d981b03014a4a52cf4233
Due: none

tidies session value get
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server

config fallback
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server

create empty workflow
  .github/workflows/run_epsat_tests.yml
Due: lint-githubactions

Fix: [AEA-5987] - Session Value Fix (#4066)
  .github/workflows/run_epsat_tests.yml
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server, lint-githubactions

Notes added by 'git notes add'
  12fdf0540bebe60e521b2f3e901e88af596e5089
Due: none

call github workflow for e2e tests from azure pipeline
  .github/workflows/run_epsat_tests.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/signing-client.ts
  packages/tool/site/server/src/services/session.ts
  scripts/run_epsat_e2e_tests.py
Due: lint-epsat-server, check-language-version, lint-githubactions

copy makefile to epsat dist
  Makefile
Due: none

fix secret
  .gitallowed
Due: none

update what is copied
  Makefile
Due: none

just install python
  packages/tool/azure/azure-release-template.yml
Due: check-language-version

copy scripts
  Makefile
Due: none

fix path
  Makefile
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
