Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Fix: [AEA-6161] - Handles arraybuffer return type in verify signature script (#4264)
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Add a log to indicate if we're application restricted
  packages/coordinator/src/routes/dispense/release.ts
Due: lint-coordinator, build-coordinator

Revert "chore: run updated regression tests"
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

updates digest
  examples/primary-care/repeat-prescribing/1-Prepare-Response-200_OK.json
Due: oas-build-checks

use image
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: check-language-version, lint-githubactions

use new workflow
  .github/workflows/pull_request.yml
Due: lint-githubactions

make it valid json
  .devcontainer/devcontainer.json
Due: none

Revert "chore: test validator v1.0.321-alpha"
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

fix: normalise https -> http
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

chore: give jest more memory as tests failing OOM
  packages/coordinator/jest.config.js
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

test: recent uri normalisation function
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

fix: broaden to all HL7 https on system attributes
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

chore: tell sonar http uri is ok
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

consistency
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Apply security scope to the correct endpoint
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

revert whitespace changes for the prescribe spec
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

update makefile
  Makefile
Due: none

Add oauth2 to the process_message endpoint
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

fix it
  .devcontainer/devcontainer.json
  .gitignore
  Makefile
Due: none

add phony targets
  Makefile
Due: none

update
  .devcontainer/devcontainer.json
  .trivyignore.yaml
Due: none

fix trivy
  .trivyignore.yaml
Due: none

use new image
  .devcontainer/devcontainer.json
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
