Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Add the rootDir to epsat
  packages/tool/site/server/tsconfig.json
Due: lint-epsat-server

AEA-6450 Tweak request stringification.
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

Refactor around process.env assuming populated values, which caused the azure pipeline to fail
  packages/e2e-tests/broker/oauth.ts
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/resources/common.ts
  packages/e2e-tests/tsconfig.json
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Element is not defined during linting. so make an alias type to suppress that
  packages/e2e-tests/broker/oauth.ts
  packages/e2e-tests/broker/verify.ts
  packages/e2e-tests/tsconfig.json
Due: none

AEA-6450 Unit test for hosted eps container.
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

AEA-6450 Unit test for no response info log.
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator

Docs: [AEA-0000] - update LICENSE file (#4573)
  LICENSE
Due: none

pact tests failing
  packages/e2e-tests/broker/oauth.ts
Due: none

Refactor so that we dont need to relax the call schema
  packages/e2e-tests/resources/common.ts
Due: none

Update schema to match the one used by the DN spec.
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
Due: oas-build-checks

Update examples
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
Due: oas-build-checks

Chore: [AEA-6539] - Update dispensing claim request schema to correct repeat and issue guidance (#4632)
  packages/specification/schemas/components/_extensions/EPSRepeatInformation.yaml
Due: oas-build-checks

Need a fallback for operation or typescript gets huffy
  packages/e2e-tests/broker/verify.ts
Due: none
