Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Fix: [AEA-5087] - Remove int from servers list (#3663)
  .devcontainer/Dockerfile
  .github/scripts/deploy_api.sh
Due: check-language-version

support recovery
  .github/scripts/deploy_api.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
Due: lint-githubactions

change sha1 enabled apps
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: lint-githubactions

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-0000] - change sha1 enabled apps (#3791)
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: lint-githubactions

update version
  .github/workflows/cdk_release_code.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix version
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Updated validator version
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

update validator version
  azure/azure-build-pipeline.yml
Due: check-language-version

use sha1 for comment on pr
  .github/workflows/pr-link.yml
Due: lint-githubactions

Fix: [AEA-0000] - support recovery (#3782)
  .github/scripts/deploy_api.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
Due: lint-githubactions

Fix: [AEA-0000] - use commit sha for comment on pr (#3802)
  .github/workflows/pr-link.yml
Due: lint-githubactions

[AEA-0000] test refactored regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Update: [AEA-5434] - Updated validator version (#3797)
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Lowercase dm+d in OAS
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

fix build
  packages/coordinator/src/services/translation/common/dosage-instructions.ts
  packages/coordinator/tests/services/translation/common/dosage-instructions.spec.ts
Due: lint-coordinator, build-coordinator

bump axios
  package-lock.json
  packages/bdd-tests/package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, lint-bdd-tests, build-coordinator

Upgrade: [AEA-0000] - bump axios (#3867)
  package-lock.json
  packages/bdd-tests/package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, lint-bdd-tests, build-coordinator

chore: debug logging
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

chore: [AEA-5087] - more logging
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

chore: debug url
  packages/coordinator/src/routes/process.ts
Due: lint-coordinator, build-coordinator

updated dependabot schedule
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: lint-githubactions

Update: electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Update: [AEA-000] - Electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

upgrade to latest validator
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Upgrade: [AEA-0000] - upgrade to latest validator (#3890)
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Remove references to GP2GP
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Correct destination resource in encode prescription data endpoint examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/Prepare-Request-Multiple-Dosages-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
Due: oas-build-checks

Correct destination resource in create a new prescription examples
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
Due: oas-build-checks

Remove retired ProfessionalCode schema
  packages/specification/schemas/components/Practitioner/CancelResponsePractitioner.yaml
  packages/specification/schemas/components/Practitioner/ReleaseResponsePractitioner.yaml
  packages/specification/schemas/components/PractitionerRole/CreatePractitionerRole.yaml
  packages/specification/schemas/components/_fragments/identifiers.yaml
Due: oas-build-checks

Amend simplifier link
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-5504] - Remove reference to GP2GP from EPS FHIR API OASes (Prescribing and Dispensing) (#3891)
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
