Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

really fix recovery deployment
  .github/workflows/pull_request.yml
Due: lint-githubactions

add temp ignore
  ignored_security_issues.json
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Update electronic-prescription-service-api.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

set timeout for tests
  azure/templates/run_tests.yml
Due: none

use new pipeline
  azure/azure-pr-pipeline.yml
Due: none

pass job_timeout_in_minutes through
  azure/azure-release-template.yml
Due: check-language-version

use different regression test tag
  azure/templates/run_tests.yml
Due: none

correct url
  azure/templates/run_tests.yml
Due: none

3 hour timeout
  azure/azure-pr-pipeline.yml
Due: none

new regression test tag
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

update merge script
  packages/specification/combineSpec.mjs
Due: none

more tags
  .github/scripts/fix_cdk_json.sh
  cdk.context.json
  cdk.json
  packages/cdk/bin/PrescribeDispenseApp.ts
Due: lint-cdk

fix cfn detection group
  .github/scripts/fix_cdk_json.sh
Due: none

use is_pull_requset
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

DSS-846 Investigate failing signature
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignature.xml
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

DSS-846 Add temp hash unit test files
  packages/coordinator/tests/resources/signed-prescriptions/saved-ValidSignature.xml
  packages/coordinator/tests/services/verification/hash.spec.ts
Due: lint-coordinator, build-coordinator

use different callback
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

switch back to edge
  azure/azure-pr-pipeline.yml
Due: none

switch back to edge
  azure/azure-release-template.yml
Due: check-language-version

switch back to edge
  azure/templates/run_tests.yml
Due: none

change example.org to google.com
  packages/bdd-tests/services/getAccessToken.ts
  packages/e2e-tests/broker/oauth.ts
Due: lint-bdd-tests

more rollback
  azure/azure-pr-pipeline.yml
  azure/azure-release-template.yml
Due: check-language-version

new tag
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

Fix: [AEA-5610] - Dynamic sha1 enabled apps (#3705)
  .github/workflows/run_regression_tests.yml
  azure/azure-pr-pipeline.yml
  azure/templates/run_tests.yml
  package-lock.json
  packages/bdd-tests/package.json
  packages/bdd-tests/services/getAccessToken.ts
  packages/cdk/resources/ECSTasks.ts
  packages/coordinator/package.json
  packages/e2e-tests/broker/oauth.ts
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, lint-bdd-tests, build-coordinator, lint-githubactions

Fix: [AEA-000] - add more cloudformation tags (#3726)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  cdk.context.json
  cdk.json
  packages/cdk/bin/PrescribeDispenseApp.ts
Due: lint-cdk, lint-githubactions

DSS-846 Add test to verify <signedinfo> is canonicalized correctlyt
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/ValidSignature.xml
  packages/coordinator/tests/resources/signed-prescriptions/jceValidSignature.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
  packages/coordinator/tests/services/verification/hash.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

update deps
  package-lock.json
  packages/tool/site/server/package.json
Due: lint-epsat-server

remove ignored security issues
  ignored_security_issues.json
Due: none

use a different key
  .github/scripts/deploy_api.sh
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

use different key name
  .github/scripts/deploy_api.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
Due: lint-githubactions

do not deploy to dev
  .github/workflows/pull_request.yml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks, lint-githubactions

DSS-846 Add temp hash unit test files
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/resources/signed-prescriptions/GenerateHashSignature.xml
  packages/coordinator/tests/resources/test-resources.ts
  packages/coordinator/tests/services/translation/xml.spec.ts
  packages/coordinator/tests/services/verification/generate_hash.spec.ts
  packages/coordinator/tests/services/verification/hash.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

add extra vars
  .github/workflows/pull_request.yml
Due: lint-githubactions

new tag
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  packages/bdd-tests/services/getAccessToken.ts
  packages/e2e-tests/broker/oauth.ts
Due: lint-bdd-tests, lint-githubactions

Fix: [AEA-0000] - new regression test tag (#3778)
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
  packages/bdd-tests/services/getAccessToken.ts
  packages/e2e-tests/broker/oauth.ts
Due: lint-bdd-tests, lint-githubactions
