Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Replace timer based promise with a promise that never resolves when checking loading behaviour
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-epsat-client

fix: Mend merge issues
  package-lock.json
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Fix: [AEA-0000] - Fix race condition in unit tests (#4567)
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-epsat-client

add ignore-scripts
  Makefile
Due: none

fix
  Makefile
Due: none

Chore: [AEA-0000] - add ignore-scripts to an install (#4568)
  Makefile
Due: none

feat: Remove project from test script
  packages/fhir-schema-generation/package.json
Due: none

AEA-6449 Align with pattern in tracker ui repo.
  .github/workflows/cdk_release_code.yml
  Makefile
  packages/cdk/bin/StatefulResourcesApp.ts
  packages/cdk/resources/ObservabilityBucket.ts
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk, lint-githubactions

feat: Fix sonarcube suggestions
  package-lock.json
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/utils/parse-simplifier-package.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

AEA-6449 Add audit logging bucket.
  packages/cdk/constructs/S3Bucket.ts
  packages/cdk/resources/ObservabilityBucket.ts
Due: lint-cdk

feat: Tidy up
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/structure-definition/differential-element.interface.ts
  packages/fhir-schema-generation/src/models/structure-definition/extension.interface.ts
  packages/fhir-schema-generation/src/utils/parse-simplifier-package.ts
Due: none

feat: Tidy up Sonar
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
  packages/fhir-schema-generation/tests/download-simplifier-package.test.ts
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

feat: Organise functions
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

feat: Basic filtering (no child evaluation)
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/structure-definition/base-element.interface.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
Due: none

AEA-6449 Pass audit logging bucket to resources. Remove verbose from synth
  Makefile
  packages/cdk/stacks/StatefulResourcesStack.ts
Due: lint-cdk

feat: Merge AEA-6322 and replace SchemaProcessor with generate-schema
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/generate-schema.ts
  packages/fhir-schema-generation/src/utils/parse-fhir-schema.ts
  packages/fhir-schema-generation/tests/generate-schema.test.ts
  packages/fhir-schema-generation/tests/parse-fhir-schema.test.ts
Due: none

refactor: merges cardinality implementation post rebase with shared work and refactors generation pipeline step
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/types/editable-json-schema.type.ts
  packages/fhir-schema-generation/src/types/fhir-to-json-schema-type.ts
  packages/fhir-schema-generation/src/utils/generate-openapi-schema.ts
  packages/fhir-schema-generation/src/utils/generate-schema.ts
  packages/fhir-schema-generation/src/utils/parse-fhir-schema.ts
  packages/fhir-schema-generation/src/utils/process-simplifier-package-specification.ts
  packages/fhir-schema-generation/tests/generate-openapi-schema.test.ts
  packages/fhir-schema-generation/tests/generate-schema.test.ts
  packages/fhir-schema-generation/tests/index.test.ts
  packages/fhir-schema-generation/tests/parse-fhir-schema.test.ts
  packages/fhir-schema-generation/tests/process-simplifier-package-specification.test.ts
Due: none

chore: build pass
  packages/fhir-schema-generation/src/models/structure-definition/extension.interface.ts
  packages/fhir-schema-generation/tests/index.test.ts
Due: none

Add a cookies provider to the unit tests, since it was missing
  packages/tool/site/client/tests/components/pageHeader.spec.tsx
  packages/tool/site/client/tests/pages/releasePage.spec.tsx
Due: lint-epsat-client

chore: build command update
  Makefile
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/tsconfig.build.json
Due: none

AEA-6006 Bump node versions to match devcontainer update.
  packages/coordinator/Dockerfile
  packages/tool/site/Dockerfile
Due: check-language-version

fix: omitt minItems in cardinality if its 0
  packages/fhir-schema-generation/src/utils/generate-openapi-schema.ts
  packages/fhir-schema-generation/tests/generate-openapi-schema.test.ts
  packages/fhir-schema-generation/tests/index.test.ts
Due: none

AEA-6006 Bump node versions in azure pipelines.
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
Due: check-language-version

chore: fixes dynamic import in test
  packages/fhir-schema-generation/tests/index.test.ts
Due: none

bump dev container version
  .devcontainer/devcontainer.json
Due: none

bump qc
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix
  zizmor.yml
Due: none

bump
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/coordinator/Dockerfile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
Due: check-language-version

Chore: [AEA-0000] - bump dev container version to 1.4.8 (#4571)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/coordinator/Dockerfile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  zizmor.yml
Due: check-language-version, lint-githubactions
