Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Enable merge queues and make dependabot more little and often
  .github/dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

Run dependabot in the early hours so it's got time to run before the day starts
  .github/dependabot.yml
Due: lint-githubactions

Chore: [AEA-0000] - Enable merge queues and make dependabot more little and often (#4407)
  .github/dependabot.yml
  .github/workflows/pull_request.yml
Due: lint-githubactions

For dependabot PRs, only run their deplyoment steps if they are in the merge queue
  .github/workflows/pull_request.yml
Due: lint-githubactions

Dependabot only runs deployments once quality checks have passed
  .github/scripts/delete_proxygen_deployments.sh
  .github/scripts/delete_stacks.sh
Due: none

Adjustments to pipeline running in merge queue
  .github/workflows/pull_request.yml
Due: lint-githubactions

Rework the azure e2e test script
  scripts/run_epsat_e2e_tests.py
Due: none

Sleep before starting polling, so gh has time to start
  scripts/run_epsat_e2e_tests.py
Due: none

better error check
  scripts/run_epsat_e2e_tests.py
Due: none

Minor tweaks
  scripts/run_epsat_e2e_tests.py
Due: none

upgrade: eslint-plugin-import-newlines and resulting fixes
  package-lock.json
  package.json
  packages/coordinator/tsconfig-build.json
  packages/tool/site/client/src/services/test-packs/practitioners.ts
Due: lint-coordinator, lint-epsat-client, build-coordinator

Build: [AEA-0000] - Rework the azure e2e test script (#4412)
  scripts/run_epsat_e2e_tests.py
Due: none

Fix: [AEA-0000] - Adjustments to pipeline running in merge queue (#4410)
  .github/workflows/pull_request.yml
Due: lint-githubactions

chore: trivy ignore tar vulnerability
  .trivyignore.yaml
Due: none

chore: match regression test vsn in GH and Azure pipelines
  azure/templates/run_tests.yml
Due: none

chore: bump to latest regression tests 3.9.9
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

chore: trivy ignore fasterxml-core
  .trivyignore.yaml
Due: none

chore: ignore underscore
  .trivyignore.yaml
Due: none

Chore: [AEA-0000] - trivy ignore vulnerabilities while waiting fixes (#4414)
  .trivyignore.yaml
Due: none

chore: trivy ignore tar
  .trivyignore.yaml
Due: none

Update: [AEA-5963] - Correct location of repeat info in FHIR Claims (#4330)
  .github/workflows/cdk_package_code.yml
  .github/workflows/run_regression_tests.yml
  .trivyignore.yaml
  Makefile
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Claim-Request-200_OK.json
  examples/spec/dispensing/claim/repeat-primary-example-req.json
  packages/coordinator/jest.config.js
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/services/translation/request/dispense/dispense-claim.ts
  packages/coordinator/src/types/hapi-extensions.ts
  packages/coordinator/tests/resources/test-data/fhir/dispensing/claim/Claim-Request-Repeat-deprecated.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/claim/Claim-Request-Repeat.json
  packages/coordinator/tests/routes/util.spec.ts
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
  packages/specification/schemas/requests/dispensing/DispenseClaim.yaml
  packages/tool/azure/azure-build-pipeline.yml
Due: lint-coordinator, oas-build-checks, build-coordinator, check-language-version, lint-githubactions

chore: adopt common workflows 5.6.2
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions
