Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Update regressubi tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix: [AEA-0000] - make regression tests script smarter (#4380)
  .github/workflows/run_regression_tests.yml
  README.md
Due: lint-githubactions

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Add aws CVE
  .trivyignore.yaml
Due: none

update releases for internal-qa
  _data/internal-qa_deployments.csv
  _data/internal-qa_latest.csv
Due: none

Fix: [AEA-0000] - Update Trivy with CVE-2026-27699 (#4382)
  .trivyignore.yaml
Due: none

Update OAS wording
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

Notes added by 'git notes add'
  f10db309b43a466540ef7574321897dfad2ae52f
Due: none

Docs: [AEA-6098] - Update OAS wording (#4383)
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

update releases for ref
  _data/ref_deployments.csv
  _data/ref_latest.csv
Due: none

update releases for sandbox
  _data/sandbox_deployments.csv
  _data/sandbox_latest.csv
Due: none

update releases for int
  _data/int_deployments.csv
  _data/int_latest.csv
Due: none

Update trivy ignore
  .trivyignore.yaml
Due: none

Ignore validator CVE
  .trivyignore.yaml
Due: none

Update trivy
  .trivyignore.yaml
Due: none

Add another exception
  .trivyignore.yaml
Due: none

Chore: [AEA-0000] - Update trivy ignore with two `minimatch` CVEs (#4404)
  .trivyignore.yaml
Due: none

Update RT tag
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: tune logging
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

chore: adopt latest regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
