Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

fix test
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

make it better
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

use const in correct place
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

refactor test
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

better formatting
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

refactor
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

test scan
  README.md
Due: none

fix checking for failures
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

Fix: [AEA-5269] - use retry-after in response to decide how long before polling (#3386)
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

handle blank array
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

fix if
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

revert change
  README.md
Due: none

update validator version
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

better display
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

wait after scan complete
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

use new branch
  scripts/run_regression_tests.py
Due: none

revert branch change
  scripts/run_regression_tests.py
Due: none

update test tag
  scripts/run_regression_tests.py
Due: none

[AEA-0000] update validator version
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-5071] - check enhanced ECR scan results (#3389)
  .devcontainer/Dockerfile
  .github/scripts/check_ecr_image_scan_results.sh
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
  scripts/run_regression_tests.py
Due: check-language-version, lint-githubactions

Update README.md
  README.md
Due: none

bump regression test version
  scripts/run_regression_tests.py
Due: none

Fix: [AEA-0000] - bump regression test version (#3421)
  scripts/run_regression_tests.py
Due: none

claims validator logs to splunk
  packages/cdk/resources/LogGroups.ts
Due: lint-cdk

status per container
  packages/cdk/resources/ECSTasks.ts
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, lint-cdk, build-coordinator

fix timeout
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

fix tests
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

fix delay
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

use const poll delays
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

use values from common in tests
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

fix timeout
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - use fixed polling delay and send claims validator logs to splunk (#3428)
  packages/cdk/resources/LogGroups.ts
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, lint-cdk, build-coordinator

use different polling delay for claims and non claims
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, lint-cdk, build-coordinator

call validator lambda
  package-lock.json
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, lint-cdk, build-coordinator

fix role
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

fix name
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
