Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Remove unnecessary brackets from Organization description
  packages/specification/schemas/components/Organization/Organization.yaml
Due: oas-build-checks

fix sandbox pr deployment
  .github/scripts/deploy_api.sh
Due: none

Update description
  packages/specification/schemas/components/Organization/Organization.yaml
Due: oas-build-checks

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-0000] - fix sandbox pr deployment (#3943)
  .github/scripts/deploy_api.sh
Due: none

Remove unnecessary white space
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update schema to include description of long-form id
  packages/specification/schemas/components/_extensions/DMPrescriptionId.yaml
Due: oas-build-checks

Remove uuid example from description
  packages/specification/schemas/components/_extensions/DMPrescriptionId.yaml
Due: oas-build-checks

Update CommunicationRequest resource description
  packages/specification/schemas/components/CommunicationRequest/CommunicationRequest.yaml
Due: oas-build-checks

Docs: [AEA-4933] - Add 'suffix' to patient details in the schema (#3939)
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Docs: [AEA-4483] - OAS Update - Update Managing Organisation details (#3941)
  packages/specification/schemas/components/Organization/Organization.yaml
Due: oas-build-checks

Docs: [AEA-5068] - OAS Update - Specify requirement for UUID to be in lower case (#3942)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update X-Request-ID description
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update CommunicationRequest description
  packages/specification/schemas/components/CommunicationRequest/CommunicationRequest.yaml
Due: oas-build-checks

Docs: [AEA-4742] - OAS Update - Communication Request Guidance (#3946)
  packages/specification/schemas/components/CommunicationRequest/CommunicationRequest.yaml
Due: oas-build-checks

Update description
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-5725] - OAS spec section "Guidance for developers and product owners” link is incorrect (#3900)
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update Provenance target to reference MedicationRequest resources
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
Due: oas-build-checks

Update destination endpoint links
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/Prepare-Request-Multiple-Dosages-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
Due: oas-build-checks

Amend X-Request-ID description
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-5822] - Each new request sent in should mean a new X-Request-ID (#3947)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update patient details information around telecom and registered GP practice
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

chore: add aws toolkit to dev container
  .devcontainer/devcontainer.json
Due: none

chore: dump env vars on startup
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

chore: log isSandbox
  packages/coordinator/src/utils/feature-flags.ts
Due: lint-coordinator, build-coordinator

Update quantity of a controlled drug description
  packages/specification/schemas/components/_extensions/ControlledDrug.yaml
Due: oas-build-checks

fix package-lock
  package-lock.json
Due: none

use better ecr scan script
  .github/scripts/check_ecr_image_scan_results.sh
  .github/scripts/fix_cdk_json.sh
  .github/scripts/release_code.sh
Due: none

Docs: [AEA-5291] - Update Provenance target to reference MedicationRequests (#3948)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
Due: oas-build-checks

Fix: [AEA-0000] - fix ecr scan script (#3963)
  .github/scripts/check_ecr_image_scan_results.sh
  .github/scripts/fix_cdk_json.sh
  .github/scripts/release_code.sh
Due: none

Docs: [AEA-5477] - Update Prescriber FHIR API OAS to correct destination resource in the examples (#3892)
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/1-Process-Request-Send-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/3-Process-Request-Multiple-DosageInstructions-Send_200_OK.json
  examples/primary-care/acute/nominated-pharmacy/medical-prescriber/Prepare-Request-Multiple-Dosages-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Prepare-Request-200_OK.json
  examples/primary-care/acute/nominated-pharmacy/responsible-party-org/3-Process-Request-Send-200_OK.json
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
  examples/spec/prepare/eRD-primary-example-req.json
  examples/spec/prescribing/prescription-order/eRD-primary-example-req.json
Due: oas-build-checks

Docs: [AEA-5747] - OAS - Clarify numberOfRepeatsAllowed applies only to eRD prescriptions (#3901)
  packages/specification/schemas/components/MedicationRequest/CancelRequestMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/DispenseNotificationMedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/MedicationRequest.yaml
  packages/specification/schemas/components/MedicationRequest/ReleaseMedicationRequest.yaml
Due: oas-build-checks

Docs: [AEA-5143] - Remove application restricted access section from EPS FHIR API (#3920)
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update gateway timeout description
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Align cancel response errors with getPrescriptionStatusInformation function
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

change sha1 enabled app
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: lint-githubactions

Fix: [AEA-0000] - change sha1 enabled apps (#3965)
  .github/workflows/release.yml
  packages/coordinator/ecs-proxies-deploy-prod.yml
Due: lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
