Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

revert change
  packages/bdd-tests/features/createPrescription.feature
Due: none

remove unused dependencies
  package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-server, build-coordinator

Fix: [AEA-0000] - remove unneeded types (#3256)
  package-lock.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-server, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

force creating a pr
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

increase rate limit
  .github/workflows/pull_request.yml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks, lint-githubactions

increase rate limit
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

increase capacity of ecs
  .github/workflows/pull_request.yml
Due: lint-githubactions

use axios-retry to retry network issues
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - use latest version of validator (does not change hapi-fhir version) (#3176) (#3183)
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

deploy to ref
  .github/workflows/pull_request.yml
Due: lint-githubactions

lower ecs count
  .github/workflows/pull_request.yml
Due: lint-githubactions

new regression test pack version
  scripts/run_regression_tests.py
Due: none

Fix: [AEA-0000] - latest regression test pack version (#3267)
  scripts/run_regression_tests.py
Due: none

use axios retry
  package-lock.json
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

retry calls to validator on network issue
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

gracefully stop server
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

set keep alive timeout
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

set idle timeout on alb
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/server.ts
Due: lint-coordinator, lint-cdk, build-coordinator

handle shutdown gracefully
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

set idle timeout on alb
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

handle SIGTERM for shutdown
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

graceful shutdown
  packages/coordinator/Dockerfile
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator, check-language-version

set keepalive timeout on server
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/server.ts
Due: lint-coordinator, lint-cdk, build-coordinator

tweaks
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/Dockerfile
  packages/coordinator/src/server.ts
Due: lint-coordinator, lint-cdk, build-coordinator, check-language-version

fix space
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

really clean shutdown
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

another attempt at clean shutdown
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

use pr for splunk delivery stream
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

do not set keepalive timeout
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/server.ts
Due: lint-coordinator, lint-cdk, build-coordinator

remove keepalive setting
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

set keep alive timeout again
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
