Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Add a bruno version of the postman collection
  bruno/EPS - Proxygen/bruno.json
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/environments/EPS - Proxygen.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim - Amendment.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS - Proxygen/fhir-dispensing/Release.bru
  bruno/EPS - Proxygen/fhir-dispensing/Return.bru
  bruno/EPS - Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Cancel.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/status.bru
Due: none

comments
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator

chore: update validator to v1.0.348-alpha
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Update bruno. Whitespace changes to yaml
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim - Amendment.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense Copy.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS - Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Add bruno files to the repo
  bruno/EPS - Proxygen/bruno.json
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/environments/EPS - Proxygen.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim - Amendment.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS - Proxygen/fhir-dispensing/Release.bru
  bruno/EPS - Proxygen/fhir-dispensing/Return.bru
  bruno/EPS - Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Cancel.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/status.bru
Due: none

Remove bruno
  bruno/EPS - Proxygen/bruno.json
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/environments/EPS - Proxygen.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim - Amendment.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim IOM.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim.bru
  bruno/EPS - Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS - Proxygen/fhir-dispensing/Release.bru
  bruno/EPS - Proxygen/fhir-dispensing/Return.bru
  bruno/EPS - Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Cancel.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/status.bru
Due: none

prettify the errors in the deploy script
  .github/scripts/deploy_api.sh
Due: none

add a transform ignore pattern for the react diff viewer, and capture jsx as well as tsx
  packages/tool/site/client/jest.config.js
  packages/tool/site/client/src/pages/comparePage.tsx
Due: lint-epsat-client

Adjust the webpack config to build with the new react-diff config
  packages/tool/site/client/webpack.config.ts
Due: lint-epsat-client

Sort the variables into their appropriate scopes
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim/Claim - Amendment.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim/Claim IOM.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim/Claim.bru
  bruno/EPS - Proxygen/fhir-dispensing/Claim/folder.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
Due: none

update some minor bits of bruno
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/environments/EPS - Proxygen.bru
  bruno/EPS - Proxygen/fhir-dispensing/Release.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
Due: none

use dev container
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  .tool-versions
Due: check-language-version

use devcontainer in build
  .github/workflows/cdk_package_code.yml
Due: lint-githubactions

try using new version
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
Due: check-language-version, lint-githubactions

chore: run updated regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Fix auth and document it a bit
  bruno/EPS - Proxygen/collection.bru
  bruno/EPS - Proxygen/fhir-dispensing/Release.bru
  bruno/EPS - Proxygen/fhir-dispensing/folder.bru
  bruno/EPS - Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS - Proxygen/fhir-prescribing/folder.bru
Due: none

Claim should still be app level 0
  packages/specification/fhir-dispensing.yaml
Due: oas-build-checks

Was not replacing app level3 in the deploy_api script
  .github/scripts/deploy_api.sh
Due: none

Remove spaces from filenames
  bruno/EPS_Proxygen/bruno.json
  bruno/EPS_Proxygen/collection.bru
  bruno/EPS_Proxygen/environments/dev.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim_Amendment.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim_IOM.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/folder.bru
  bruno/EPS_Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS_Proxygen/fhir-dispensing/Release.bru
  bruno/EPS_Proxygen/fhir-dispensing/Return.bru
  bruno/EPS_Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS_Proxygen/fhir-dispensing/folder.bru
  bruno/EPS_Proxygen/fhir-prescribing/Cancel.bru
  bruno/EPS_Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS_Proxygen/fhir-prescribing/folder.bru
  bruno/EPS_Proxygen/fhir-prescribing/status.bru
Due: none

chore: test validator v1.0.321-alpha
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

New: [AEA-0000] - Add bruno version of postman collection (#4331)
  bruno/EPS_Proxygen/bruno.json
  bruno/EPS_Proxygen/collection.bru
  bruno/EPS_Proxygen/environments/dev.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim_Amendment.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/Claim_IOM.bru
  bruno/EPS_Proxygen/fhir-dispensing/Claim/folder.bru
  bruno/EPS_Proxygen/fhir-dispensing/Dispense.bru
  bruno/EPS_Proxygen/fhir-dispensing/Release.bru
  bruno/EPS_Proxygen/fhir-dispensing/Return.bru
  bruno/EPS_Proxygen/fhir-dispensing/Withdraw.bru
  bruno/EPS_Proxygen/fhir-dispensing/folder.bru
  bruno/EPS_Proxygen/fhir-prescribing/Cancel.bru
  bruno/EPS_Proxygen/fhir-prescribing/Prepare.bru
  bruno/EPS_Proxygen/fhir-prescribing/folder.bru
  bruno/EPS_Proxygen/fhir-prescribing/status.bru
Due: none

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
