Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

fix it
  .gitallowed
  packages/coordinator/src/services/translation/request/patient.ts
Due: lint-coordinator, build-coordinator

fix test
  packages/coordinator/tests/services/translation/request/patient.spec.ts
Due: lint-coordinator, build-coordinator

really log
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/patient.ts
  packages/coordinator/src/services/translation/request/payload/factory.ts
  packages/coordinator/src/services/translation/request/prescribe/parent-prescription.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
Due: lint-coordinator, build-coordinator

revert stuff not needed
  packages/coordinator/src/services/translation/common/index.ts
  packages/models/fhir/patient.ts
Due: lint-models, lint-coordinator, build-coordinator

fix it
  packages/coordinator/src/services/translation/request/patient.ts
Due: lint-coordinator, build-coordinator

common way of referencing pino.Logger
  packages/coordinator/src/services/translation/request/payload/factory.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-4443] - handle missing gp_reg (#3330)
  .gitallowed
  packages/coordinator/src/services/translation/request/cancel/cancellation.ts
  packages/coordinator/src/services/translation/request/patient.ts
  packages/coordinator/src/services/translation/request/payload/factory.ts
  packages/coordinator/src/services/translation/request/prescribe/parent-prescription.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
Due: lint-coordinator, build-coordinator

switch order of getting asid
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

use default party key
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-0000] - always use default asid/party key in PTL (#3334)
  packages/coordinator/src/utils/headers.ts
Due: lint-coordinator, build-coordinator

Add an ignore statement
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-server

Fix: [AEA-0000] - Add an ignore statement (#3356)
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-server

no sync wrap
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
  proxies/live/apiproxy/proxies/default.xml
  proxies/live/apiproxy/targets/sync-wrap.xml
Due: lint-coordinator, build-coordinator

reformat
  proxies/live/apiproxy/proxies/default.xml
Due: none

log prescription ids released
  packages/coordinator/src/services/translation/response/release/release-response.ts
Due: lint-coordinator, build-coordinator

fix polling url
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

handle starting /
  packages/coordinator/src/services/communication/live-spine-client.ts
Due: lint-coordinator, build-coordinator

log the correct prescription id
  packages/coordinator/src/services/translation/response/release/release-response.ts
Due: lint-coordinator, build-coordinator

tests for logging
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

better tests
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

refactor
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/sandbox-spine-client.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

start of adding logging
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

enable monitoring
  .github/scripts/deploy_api.sh
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

log retries
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-0000] - enable monitoring (#3370)
  .github/scripts/deploy_api.sh
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

refactor test to remove duplicate
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

more common code
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
Due: lint-coordinator, build-coordinator

handle empty response
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-5218] - no sync wrap (#3367)
  packages/coordinator/src/services/communication/common.ts
  packages/coordinator/src/services/communication/live-spine-client.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/services/communication/sandbox-spine-client.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
  proxies/live/apiproxy/proxies/default.xml
  proxies/live/apiproxy/targets/sync-wrap.xml
Due: lint-coordinator, build-coordinator

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

add nhs-uk frontend
  package-lock.json
  packages/tool/site/Dockerfile
  packages/tool/site/client/index.html
  packages/tool/site/client/package.json
  packages/tool/site/client/static/.gitignore
Due: lint-epsat-client, check-language-version

Fix: [AEA-0000]- add nhs-uk frontend sytlesheet to epsat (#3377)
  package-lock.json
  packages/tool/site/Dockerfile
  packages/tool/site/client/index.html
  packages/tool/site/client/package.json
  packages/tool/site/client/static/.gitignore
Due: lint-epsat-client, check-language-version

log response to see what it is
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

use retry delay before polling
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, build-coordinator

skip tests for now
  packages/coordinator/tests/services/communication/spine-communication.spec.ts
Due: lint-coordinator, build-coordinator
