Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Fix: [AEA-5862] - Adds Role Selection Header to Epsat Requests (#4001)
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/auth/login.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
  packages/tool/site/server/src/services/session.ts
Due: lint-epsat-server

Fix: [AEA-5895] - forward alb logs to csoc (#3990)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

enhances logging
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-server

enhances logging
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server

adds logs
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-server

stringify
  packages/tool/site/server/src/oauthUtils.ts
Due: lint-epsat-server

Fix: [AEA-5862] - Enhances Role Selection Logging (#4003)
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/sign/uploadSignatures.ts
Due: lint-epsat-server

set asdf version
  .devcontainer/Dockerfile
  .github/config/settings.yml
  .github/workflows/cdk_package_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
  .tool-versions.asdf
Due: check-language-version, lint-githubactions

use hash
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
Due: lint-githubactions

fix repo
  package.json
Due: none

Fix: [AEA-0000] - fix repo url (#4023)
  package.json
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

use different main branch
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - use master branch for tagging (#4025)
  .github/workflows/release.yml
Due: lint-githubactions

try fixing branch
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - pass correct branch to tag (#4026)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  374402caa9ce737045256760cc2c8173c981c5a3
Due: none

fix version tag
  .github/workflows/release.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix getting version tag in release pipeline (#4027)
  .github/workflows/release.yml
Due: lint-githubactions

Notes added by 'git notes add'
  71382d40a4f0c587f50715eff6360b540ab46c1f
Due: none

Notes added by 'git notes add'
  14d3128e7d6a3ba48ce0e7debe644290467b6899
Due: none

joins scopes, adds logs
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/auth/login.ts
Due: lint-epsat-server

removes duplication
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  35c8b5f9a5b5442a617608216cc7ab96fa873000
Due: none

Notes added by 'git notes add'
  e4f1030b472c5350d582ecde40a5d079f24b8d18
Due: none

Fix: [AEA-5862] - Removes scope double encoding, adds logging (#4031)
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
  packages/tool/site/server/src/routes/auth/login.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  512f25a1ff37692e32f76e45a5523eecd7e21076
Due: none

moves to logging axios instance
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/logging-axios.ts
Due: lint-epsat-server

Fix: [AEA-5862] - Adds Logging Axios Instance for OAuth Calls (#4032)
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/services/communication/eps-client.ts
  packages/tool/site/server/src/services/communication/live-signing-client.ts
  packages/tool/site/server/src/services/communication/logging-axios.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  169ce84d804f9c8be7122dc4b567cd4fc25f9557
Due: none

removes circular reference
  packages/tool/site/server/src/oauthUtils.ts
Due: lint-epsat-server

Fix: [AEA-5862] - Fixes circular dependency (#4033)
  packages/tool/site/server/src/oauthUtils.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  428f039230d4aaafe02837fbfa2559466b0e94c9
Due: none

updates userinfo response interface
  packages/tool/site/server/src/oauthUtils.ts
Due: lint-epsat-server

Fix: [AEA-5862] - Destructure Userinfo Response (#4034)
  packages/tool/site/server/src/oauthUtils.ts
Due: lint-epsat-server

Notes added by 'git notes add'
  659cd9f37ee78c61f7b89fcb484f40c6292275f2
Due: none

gets role from cis2 token
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-server

separate auth default
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/loginPage.tsx
Due: lint-epsat-client

Fix: [AEA-5862] - Makes separate auth default (#4047)
  packages/tool/site/client/src/index.tsx
  packages/tool/site/client/src/pages/loginPage.tsx
  packages/tool/site/server/src/oauthUtils.ts
  packages/tool/site/server/src/routes/auth/callback.ts
Due: lint-epsat-client, lint-epsat-server

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
