Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

fix name
  packages/cdk/resources/ECSTasks.ts
Due: lint-cdk

fix role name
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

make it work both ways
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/routes/health/get-status.ts
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, lint-cdk, build-coordinator

rollback
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, lint-cdk, build-coordinator

bob
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

logging
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

call the snap
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

really call the snap
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

snap in name
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

payload to string
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

parse json
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

better parsing
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, build-coordinator

refactor some code
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/routes/util.ts
Due: lint-coordinator, lint-cdk, build-coordinator

Fix: [AEA-5309] - use different polling delay for claims (#3440)
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/src/services/communication/common.ts
Due: lint-coordinator, lint-cdk, build-coordinator

do not call validator in eps hosted container
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, build-coordinator

remove validator from eps hosted
  .github/scripts/fix_cdk_json.sh
  .github/scripts/release_code.sh
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  cdk.json
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

fix healthcheck
  packages/coordinator/src/routes/health/get-status.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

reest tests
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

month end claim scaling
  .github/workflows/release.yml
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

scale claims
  .github/workflows/release.yml
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

fix it
  .github/workflows/release.yml
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

Fix:[AEA-5319] - scale claims (#3458)
  .github/workflows/release.yml
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

refactor:[AEA-5238]makes GeneralPracticioner and optional field in the schema
  packages/specification/schemas/components/Patient/Patient.yaml
Due: oas-build-checks

Update acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
Due: oas-build-checks

Update acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
Due: oas-build-checks

Update acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
Due: oas-build-checks

Update acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
Due: oas-build-checks

Update eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
Due: oas-build-checks

Update repeat-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
Due: oas-build-checks

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none
