Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

set keep alive timeout on server
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

deploy to ref
  .github/workflows/release_ref.yml
Due: lint-githubactions

do not deploy to ref
  .github/workflows/pull_request.yml
Due: lint-githubactions

fix download
  .github/workflows/release_ref.yml
Due: lint-githubactions

Fix: [AEA-5110] - cdk with seperate claims service (#3205)
  .github/scripts/fix_cdk_json.sh
  .github/workflows/cdk_release_code.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/release_ref.yml
  cdk.json
  package-lock.json
  packages/cdk/nagSuppressions.ts
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/resources/LogGroups.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/server.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: lint-coordinator, lint-cdk, oas-build-checks, build-coordinator, check-language-version, lint-githubactions

better logging
  .github/workflows/pull_request.yml
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/server.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator, lint-githubactions

fix header
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

really fix redaction
  packages/coordinator/src/server.ts
Due: lint-coordinator, build-coordinator

use node 22
  packages/coordinator/Dockerfile
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator, check-language-version

add stack
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

use correct version
  .tool-versions
  package-lock.json
Due: check-language-version

trying node 23
  .tool-versions
  packages/coordinator/Dockerfile
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator, check-language-version

revert test changes
  .github/workflows/pull_request.yml
  package-lock.json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
Due: lint-coordinator, build-coordinator, lint-githubactions

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Fix: [AEA-0000] - better logging (#3274)
  packages/coordinator/src/server.ts
  packages/coordinator/src/services/communication/mtls-spine-client.ts
  packages/coordinator/src/utils/server-extensions.ts
  packages/coordinator/tests/app.test.ts
  packages/coordinator/tests/services/communication/mtls-spine-communication.spec.ts
Due: lint-coordinator, build-coordinator

handle multiple certificates
  .gitallowed
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/services/verification/common.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

correct logic in function
  packages/coordinator/src/services/verification/signature-verification.ts
Due: lint-coordinator, build-coordinator

Fix: [AEA-5132] - reject multiple certificates (#3292)
  .gitallowed
  packages/coordinator/src/services/verification/certificate-revocation/utils.ts
  packages/coordinator/src/services/verification/certificate-revocation/verify.ts
  packages/coordinator/src/services/verification/common.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/services/verification/certificate-revocation.spec.ts
  packages/coordinator/tests/services/verification/signature-verification.spec.ts
Due: lint-coordinator, build-coordinator

enable prod deployment
  .github/workflows/release.yml
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

lower prod capacity
  .github/workflows/release.yml
Due: lint-githubactions

add prod asid and party key
  .github/workflows/release.yml
Due: lint-githubactions

Chore: [AEA-5138] - enable prod deployment of proxygen (#3295)
  .github/workflows/release.yml
  packages/cdk/resources/ECSTasks.ts
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk, lint-githubactions

tweak specs to force publish
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Chore: [AEA-0000] - tweak specs to force publish (#3309)
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Update URLs, remove unnecessary lines
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Also update other occurrences of the old URLs
  Makefile
  azure/templates/pre_int_deploy.yml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/tool/site/client/src/services/test-packs/messageHeader.ts
Due: lint-epsat-client, oas-build-checks

update schema component examples with new URLs.
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/responses/dispensing/passedPrescriptions.yaml
Due: oas-build-checks

DUBIOUS - this template talks about dispensing and prescribing, but the two now use different endpoints. Do we need two tables now?
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
Due: oas-build-checks

Revert some instances of the URL update
  Makefile
  azure/templates/pre_int_deploy.yml
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/tool/site/client/src/services/test-packs/messageHeader.ts
Due: lint-epsat-client, oas-build-checks

Accidentally removed a heading
  packages/specification/electronic-prescription-service-api.template.yaml
Due: oas-build-checks

Chore: [AEA-5086] - Update FHIR prescribing and dispensing OAS (#3311)
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
  packages/specification/schemas/components/MessageHeader/MessageHeader.yaml
  packages/specification/schemas/responses/dispensing/passedPrescriptions.yaml
Due: oas-build-checks

try and find out where the issue is
  packages/coordinator/src/services/translation/common/index.ts
Due: lint-coordinator, build-coordinator

log responses on error
  packages/coordinator/src/utils/server-extensions.ts
Due: lint-coordinator, build-coordinator

make it work
  .gitallowed
  packages/coordinator/src/services/translation/request/patient.ts
  packages/coordinator/tests/services/translation/request/patient.spec.ts
  packages/models/fhir/patient.ts
Due: lint-models, lint-coordinator, build-coordinator

trigger build
  packages/coordinator/src/services/translation/request/patient.ts
Due: lint-coordinator, build-coordinator
