Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

Update: [AEA-6019] - Updated validator version and updated FS display value (#4193)
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/health-professional/6-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/1-Process-Request-Send-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Prepare-Request-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/pharmacist/prescriber-endorsed/2-Process-Request-Send-200_OK.json
  packages/tool/site/client/src/fhir/reference-data/valueSets.ts
Due: lint-epsat-client, oas-build-checks

Notes added by 'git notes add'
  3906b136949e75bacf19a64fe4720273ad701fd0
Due: none

Notes added by 'git notes add'
  5e00a4b90f24cd5369fed3a1a15594417dcd5a70
Due: none

Utilise new testing APIM addition script
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Notes added by 'git notes add'
  85fee2e7b2274996b83fa9ae4166630444b8e8ab
Due: none

Notes added by 'git notes add'
  914f505e6226083f68dbc8e9508580f98eefcc3c
Due: none

upgrade to node 24
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/coordinator/Dockerfile
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
Due: check-language-version

update min version
  packages/bdd-tests/package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/site/client/package.json
  packages/tool/site/client/tsconfig.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator

Remove authoredOn field from all json examples
  examples/primary-care/repeat-dispensing/nominated-pharmacy/medical-prescriber/author/gmc/responsible-party/medication-list/din/1-VerifySignature-Request-200_OK.json
  examples/sandbox/Release-Response-200_OK.json
  examples/secondary-care/community/acute/nominated-pharmacy/clinical-practitioner/1-VerifySignature-Request-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/multiple-medication-requests/prescriber-endorsed/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/community/repeat-dispensing/nominated-pharmacy/clinical-practitioner/single-medication-request/1-VerifySignature-Request-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/2-Task-Request-Return-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/3-Task-Request-Withdraw-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/4-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/6-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/clinical-practitioner/7-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-and-concurrent-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/secondary-care/homecare/acute/nominated-pharmacy/consecutive-dosage-instructions/1-Process-Request-Dispense-200_OK.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-01-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-02-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-03-req.json
  examples/spec/dispensing/dispense-notification/acute-primary-example-04-req.json
  examples/spec/dispensing/dispense-notification/eRD-primary-example-req.json
  examples/spec/dispensing/dispense-notification/repeat-primary-example-req.json
  examples/spec/dispensing/release/eRD-primary-example-res.json
  examples/spec/dispensing/release/repeat-primary-example-res.json
  examples/spec/dispensing/return/acute-primary-example-req.json
  examples/spec/dispensing/return/eRD-primary-example-req.json
  examples/spec/dispensing/return/repeat-primary-example-req.json
  examples/spec/dispensing/withdraw/acute-primary-example-req.json
  examples/spec/dispensing/withdraw/eRD-primary-example-req.json
  examples/spec/dispensing/withdraw/repeat-primary-example-req.json
  examples/spec/errors/prescription-order-update/R-0006-Prescription.json
  examples/spec/errors/prescription-order-update/bundle-error.json
  examples/spec/errors/task/success.json
  packages/coordinator/tests/resources/test-data/fhir/dispensing/Process-Request-Dispense-Has-StatusReasonCodableConcept-200_OK.json
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-medication-request.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/coordinator/tests/services/validation/query-validator.spec.ts
Due: lint-coordinator, oas-build-checks, build-coordinator

Remove references to authoredOn field in code. the site client no longer reports any created date, as this was the authoredOn date
  packages/coordinator/src/routes/tracker/task.ts
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/src/services/translation/request/withdraw/withdraw.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-medication-request.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/generate-spine-examples.ts
  packages/coordinator/tests/resources/message-fragments/medicationRequest.ts
  packages/models/fhir/task.ts
  packages/tool/site/client/src/common/prescription-search.ts
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSearchForm.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
  packages/tool/site/client/src/pages/prescriptionSearchPage.tsx
  packages/tool/site/client/src/pages/returnPage.tsx
  packages/tool/site/client/src/pages/withdrawPage.tsx
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator

Fix: [AEA-6110] - upgrade to node 24 (#4201)
  .tool-versions
  azure/azure-build-pipeline.yml
  azure/templates/run_tests.yml
  packages/bdd-tests/package.json
  packages/coordinator/Dockerfile
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/azure/azure-build-pipeline.yml
  packages/tool/azure/azure-release-template.yml
  packages/tool/site/Dockerfile
  packages/tool/site/client/package.json
  packages/tool/site/client/tsconfig.json
  packages/tool/site/server/package.json
Due: lint-models, lint-coordinator, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version

remove check-licenses packages
  Makefile
  package-lock.json
  package.json
  packages/bdd-tests/package.json
  packages/cdk/package.json
  packages/coordinator/package.json
  packages/e2e-tests/package.json
  packages/models/package.json
  packages/specification/package.json
  packages/tool/e2e-tests/package.json
  packages/tool/site/client/package.json
  packages/tool/site/server/package.json
  poetry.lock
  pyproject.toml
  scripts/check_python_licenses.sh
Due: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator

Notes added by 'git notes add'
  93ba49dba8f9cce59b7449f15722e3c6be1b6acf
Due: none

update react-router-dom
  package-lock.json
  packages/tool/site/client/package.json
Due: lint-epsat-client

fix vulns
  package-lock.json
  package.json
  packages/bdd-tests/package.json
Due: lint-bdd-tests

update snapshots
  packages/tool/site/client/tests/components/__snapshots__/longRunningTask.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/pageHeader.spec.tsx.snap
  packages/tool/site/client/tests/components/__snapshots__/sorter.spec.tsx.snap
  packages/tool/site/client/tests/components/claim/__snapshots__/claimForm.spec.tsx.snap
  packages/tool/site/client/tests/components/dispense/__snapshots__/dispenseForm.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/release/__snapshots__/releaseForm.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/claimPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/configPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/dispensePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/doseToTextPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/loginPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/releasePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/returnPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/sendPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/validatePage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/withdrawPage.spec.tsx.snap
Due: none

rollback typescript
  package-lock.json
Due: none

Remove authoredOn field from prescription tracker
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSearchForm.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryTable.tsx
  packages/tool/site/client/src/pages/prescriptionSearchPage.tsx
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionLevelDetail.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
Due: lint-epsat-client

Notes added by 'git notes add'
  009384ed3ee2d3494952fb59edf6d1865b140f7d
Due: none

Notes added by 'git notes add'
  79c53b1fe6e9e6fd34f94863b9a3501b7ffeedc4
Due: none

Notes added by 'git notes add'
  cad3d46f8f4946629e5e56018d7255d78c2d0289
Due: none

Update snapshot
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
Due: none

Extend timeout for CI
  packages/e2e-tests/broker/verify.ts
Due: none

downgrade typescript
  package-lock.json
Due: none

fix it
  package-lock.json
  packages/coordinator/package.json
Due: lint-coordinator, build-coordinator

Remove optional field from data structure
  packages/models/fhir/medication-request.ts
  packages/models/fhir/task.ts
Due: lint-models, build-coordinator

fix scanning
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

Chore: [AEA-0000] - fix scanning script (#4206)
  .github/scripts/check_ecr_image_scan_results.sh
Due: none

Notes added by 'git notes add'
  857f6b437811dac12816e7eb9c8a4d26cb3e71a8
Due: none

Notes added by 'git notes add'
  19510112541381154a25b9ca159a4c9744e498c9
Due: none

Notes added by 'git notes add'
  93effda647acf86f06b754ab2114f5976b3519c4
Due: none

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Remove authoredon field. There are a lot of changes that were needed before tests would pass...
  packages/coordinator/src/routes/tracker/task.ts
  packages/coordinator/src/services/communication/tracker111/index.ts
  packages/coordinator/src/services/communication/tracker111/live.ts
  packages/coordinator/src/services/communication/tracker111/sandbox.ts
  packages/coordinator/src/services/translation/common/dateTime.ts
  packages/coordinator/src/services/translation/request/return/return.ts
  packages/coordinator/src/services/translation/request/withdraw/withdraw.ts
  packages/coordinator/src/services/translation/response/cancellation/cancellation-medication-request.ts
  packages/coordinator/src/services/translation/response/release/release-medication-request.ts
  packages/coordinator/src/services/translation/response/tracker/translation.ts
  packages/coordinator/src/services/validation/bundle-validator.ts
  packages/coordinator/tests/resources/message-fragments/medicationRequest.ts
  packages/coordinator/tests/routes/tracker/task.spec.ts
  packages/coordinator/tests/services/translation/request/practitioner.spec.ts
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-medication-request.spec.ts
  packages/coordinator/tests/services/validation/bundle-validator.spec.ts
  packages/coordinator/tests/services/validation/query-validator.spec.ts
  packages/models/errors/validation-errors.ts
  packages/models/examples/cases/convert-case.ts
  packages/models/fhir/medication-request.ts
  packages/models/fhir/task.ts
  packages/tool/site/client/src/common/prescription-search.ts
  packages/tool/site/client/src/components/prescription-summary/fragments/PrescriptionLevelDetails.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSearchForm.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryList.tsx
  packages/tool/site/client/src/components/prescription-tracker/prescriptionSummaryTable.tsx
  packages/tool/site/client/src/pages/prescriptionSearchPage.tsx
  packages/tool/site/client/src/pages/returnPage.tsx
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionLevelDetail.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/__snapshots__/prescriptionSummaryViewEditable.spec.tsx.snap
  packages/tool/site/client/tests/components/prescription-summary/props.tsx
  packages/tool/site/client/tests/pages/__snapshots__/prescriptionSearchPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/__snapshots__/signPage.spec.tsx.snap
  packages/tool/site/client/tests/pages/prescriptionSearchPage.spec.tsx
Due: lint-models, lint-coordinator, lint-epsat-client, build-coordinator

Remove authoredOn field from bdd tests
  packages/bdd-tests/testData/epsPrepare.json
  packages/bdd-tests/testData/medicationRequest.json
Due: lint-bdd-tests

Remove unnecessary test
  packages/coordinator/tests/services/translation/response/cancellation/cancellation-medication-request.spec.ts
Due: lint-coordinator, build-coordinator

Remove unused import
  .env
  packages/tool/site/client/src/pages/returnPage.tsx
Due: lint-epsat-client

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
