Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

feat: implements and tests signature validation
  packages/coordinator/src/routes/process.ts
  packages/coordinator/src/services/translation/request/index.ts
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/src/services/verification/signature-verification.ts
  packages/coordinator/tests/services/translation/request/index.spec.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

chore: stack export signature validation feature flag value
  packages/cdk/stacks/PrescribeDispenseStack.ts
Due: lint-cdk

chore: set regression test pack
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: adopt claim tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

update releases for prod
  _data/prod_deployments.csv
  _data/prod_latest.csv
Due: none

feat: Download package and read contents
  .gitignore
  .vscode/launch.json
  packages/fhir-schema-generation/package-lock.json
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tsconfig.json
Due: none

feat: Add some useful comments
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
Due: none

feat: Add unit tests for fhir package
  packages/fhir-schema-generation/jest.config.js
  packages/fhir-schema-generation/package-lock.json
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/models/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
  packages/fhir-schema-generation/tsconfig.json
Due: none

feat: Added basic README and updated configs
  .gitignore
  .vscode/launch.json
  README.md
  packages/fhir-schema-generation/README.md
  packages/fhir-schema-generation/jest.config.js
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tsconfig.json
Due: none

test: update pact tests
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

chore: trivy ignore fast-xml-parser
  .trivyignore.yaml
Due: none

chore: removes redundant try catch
  packages/coordinator/src/services/translation/response/release/release-response.ts
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

chore: changes test description
  packages/coordinator/tests/utils/feature-flags.spec.ts
Due: lint-coordinator, build-coordinator

test: adds missing diagnostic field
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

chore: reverts testcases
  packages/e2e-tests/specs/live/process.failures.spec.ts
Due: none

feat: sign prescriptions with invalid checksum for Spine response
  packages/e2e-tests/services/update-prescriptions.ts
Due: none

chore: passing pull-request-id to regression tests
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

fix: Add linting and update make
  .pre-commit-config.yaml
  .trivyignore.yaml
  Makefile
  eslint.config.mjs
  package-lock.json
  package.json
  packages/fhir-schema-generation/eslint.config.mjs
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/utils/fetch-fhir.ts
  packages/fhir-schema-generation/tests/fetch-fhir.test.ts
Due: none

test: process route coverage
  packages/coordinator/tests/routes/process.spec.ts
Due: lint-coordinator, build-coordinator

tag release in jira
  .github/workflows/ci.yml
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/release.yml
Due: lint-githubactions

update trivy
  .trivyignore.yaml
Due: none

chore: remove pull request id for regression tests
  .github/workflows/cdk_release_code.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

chore: word change
  packages/coordinator/tests/services/translation/response/release/release-response.spec.ts
Due: lint-coordinator, build-coordinator

remove call from azure
  azure/templates/post_prod_deploy.yml
Due: none

remove more azure things
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/pre_int_deploy.yml
Due: none

Chore: [AEA-0000] - tag release in jira (#4467)
  .github/workflows/ci.yml
  .github/workflows/create_int_release_notes.yml
  .github/workflows/create_prod_release_notes.yml
  .github/workflows/create_rc_int_release_notes.yml
  .github/workflows/mark_jira_released.yml
  .github/workflows/release.yml
  .trivyignore.yaml
  azure/templates/post_dev_deploy.yml
  azure/templates/post_int_deploy.yml
  azure/templates/post_prod_deploy.yml
  azure/templates/pre_int_deploy.yml
Due: lint-githubactions

feat: Parse json to zod objects
  .pre-commit-config.yaml
  package-lock.json
  packages/fhir-schema-generation/.tool-versions
  packages/fhir-schema-generation/package.json
  packages/fhir-schema-generation/src/index.ts
  packages/fhir-schema-generation/src/models/fhir-package/dist-tags.interface.ts
  packages/fhir-schema-generation/src/models/fhir-package/package-metadata.interface.ts
  packages/fhir-schema-generation/src/models/fhir-package/package-version.interface.ts
  packages/fhir-schema-generation/src/models/fhir/fhir-package-metadata.ts
  packages/fhir-schema-generation/src/models/schema/schema-node.ts
  packages/fhir-schema-generation/src/models/schema/schema-property.ts
  packages/fhir-schema-generation/src/utils/common.ts
  packages/fhir-schema-generation/src/utils/download-simplifier-package.ts
  packages/fhir-schema-generation/src/utils/generate-schema.ts
  packages/fhir-schema-generation/tsconfig.json
  sonar-project.properties
Due: none

feat: Create schema object with zod
  packages/fhir-schema-generation/src/utils/generate-schema.ts
Due: none

feat: Implement sonar
  Makefile
  packages/fhir-schema-generation/jest.config.js
  packages/fhir-schema-generation/jest.config.ts
  sonar-project.properties
Due: none

more trivy
  .trivyignore.yaml
Due: none

Chore: [AEA-0000] - another vuln in validator added to trivyignore (#4469)
  .trivyignore.yaml
Due: none
