Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

lint-models:
  name: Lint models
  entry: npm
  args:
  - run
  - --prefix=packages/models
  - lint
  language: system
  pass_filenames: false

lint-coordinator:
  name: Lint coordinator
  entry: npm
  args:
  - run
  - --prefix=packages/coordinator
  - lint
  language: system
  pass_filenames: false

lint-cdk:
  name: Lint cdk
  entry: npm
  args:
  - run
  - --prefix=packages/cdk
  - lint
  language: system
  pass_filenames: false

lint-epsat-client:
  name: Lint EPSAT client
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/client
  - lint
  language: system
  pass_filenames: false

lint-epsat-server:
  name: Lint EPSAT server
  entry: npm
  args:
  - run
  - --prefix=packages/tool/site/server
  - lint
  language: system
  pass_filenames: false

oas-build-checks:
  name: Build OAS
  entry: make
  args:
  - build-specification
  language: system

lint-bdd-tests:
  name: Lint bdd tests
  entry: npm
  args:
  - run
  - --prefix=packages/bdd-tests
  - lint
  language: system
  pass_filenames: false

build-coordinator:
  name: Build coordinator
  entry: make
  args:
  - build-coordinator
  language: system

check-language-version:
  name: check language versions are consistent
  entry: ./scripts/check_language_versions.sh
  language: system

lint-githubactions:
  name: Lint github actions
  entry: make
  args:
  - lint-githubactions
  language: system
  pass_filenames: false

fix: test fixture mutation
  packages/coordinator/tests/utils/headers.spec.ts
Due: lint-coordinator, build-coordinator

update trivyigonre
  .trivyignore.yaml
Due: none

chore: migrate pyproject.toml to PEP621 now that we're on poetry 2
  poetry.lock
  pyproject.toml
Due: none

chore: migrate pre-commit config
  .pre-commit-config.yaml
Due: none

Chore: [AEA-0000] - migrate pre-commit config (#4351)
  .pre-commit-config.yaml
Due: none

chore: trivy ignore minimatch CVE-2026-26996
  .trivyignore.yaml
Due: none

Logging change
  packages/coordinator/src/routes/dispense/release.ts
Due: lint-coordinator, build-coordinator

Chore: [AEA-0000] - trivy ignore minimatch CVE-2026-26996 (#4352)
  .trivyignore.yaml
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

Updated Simplifier IG link in OAS
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

Docs: [AEA-6099] - Updated Simplifier IG link in OAS (#4353)
  packages/specification/electronic-prescription-service-api.template.yaml
  packages/specification/electronic-prescription-service-api.yaml
  packages/specification/fhir-dispensing.yaml
  packages/specification/fhir-prescribing.yaml
Due: oas-build-checks

use new tag
  .devcontainer/devcontainer.json
  .github/workflows/cdk_package_code.yml
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
  .github/workflows/pull_request.yml
  .github/workflows/release.yml
  .github/workflows/run_epsat_tests.yml
  .github/workflows/run_pact_tests.yml
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

set retries
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

add max attempts
  .cfn_guard_out/cdk_ncsc-cafv3.txt
  .cfn_guard_out/cdk_ncsc.txt
  .cfn_guard_out/cdk_wa-Reliability-Pillar.txt
  .cfn_guard_out/cdk_wa-Security-Pillar.txt
  .github/workflows/cdk_release_code.yml
  .trivy_out/dependency_results_docker.txt
Due: lint-githubactions

add max attempts
  .cfn_guard_out/cdk_ncsc-cafv3.txt
  .cfn_guard_out/cdk_ncsc.txt
  .cfn_guard_out/cdk_wa-Reliability-Pillar.txt
  .cfn_guard_out/cdk_wa-Security-Pillar.txt
  .trivy_out/dependency_results_docker.txt
Due: none

new vuln
  .trivyignore.yaml
Due: none

Revert "chore: match python 3.14 used by validator"
  .tool-versions
Due: check-language-version

fix: handling of invalid json
  packages/coordinator/src/routes/util.ts
  packages/coordinator/tests/routes/util.spec.ts
Due: lint-coordinator, build-coordinator

chore: match python 3.14 used by validator
  .tool-versions
Due: check-language-version

test: run updated regression tests
  .github/workflows/run_regression_tests.yml
Due: lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$
