Repository NHSDigital/electronic-prescription-service-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-models, lint-coordinator, lint-cdk, lint-epsat-client, lint-epsat-server, oas-build-checks, lint-bdd-tests, build-coordinator, check-language-version, lint-githubactions

Path conditions:
  lint-models: any of: ^packages\/models and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-coordinator: any of: ^packages\/coordinator and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-cdk: any of: ^packages\/cdk and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-client: any of: ^packages\/tool\/site\/client and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  lint-epsat-server: any of: ^packages\/tool\/site\/server and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  oas-build-checks: any of: ^(examples|packages\/specification) and \.json$, \.(yaml|yml)$
  lint-bdd-tests: any of: ^packages\/bdd-tests and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  build-coordinator: any of: ^packages\/(models|coordinator) and \.(ts|mts|cts)$, \.tsx$, \.(js|mjs|cjs)$, \.jsx$, \.json$
  check-language-version: any of: (?x)^(
    .tool-versions|
    packages/coordinator/Dockerfile|
    azure/azure-build-pipeline.yml|
    azure/azure-release-template.yml|
    packages/tool/site/Dockerfile|
    packages/tool/azure/azure-build-pipeline.yml|
    packages/tool/azure/azure-release-template.yml|
    .devcontainer/Dockerfile
)$

  lint-githubactions: any of: ^.github and \.(yaml|yml)$

Revert "If the role code fails to be fetched (application restricted), then fall back to something meaningful"
  packages/coordinator/src/services/translation/request/agent-person.ts
  packages/coordinator/tests/services/translation/request/agent-person.spec.ts
Due: lint-coordinator, build-coordinator

skip roleID checks in dispensing endpoint if we are application restricted
  packages/coordinator/src/routes/dispense/release.ts
  packages/coordinator/src/services/validation/parameters-validator.ts
  packages/coordinator/src/services/validation/scope-validator.ts
  packages/coordinator/tests/services/validation/parameters-validator.spec.ts
Due: lint-coordinator, build-coordinator

Update validator versions on
  .devcontainer/Dockerfile
  .github/workflows/cdk_package_code.yml
  Makefile
  azure/azure-build-pipeline.yml
  packages/tool/azure/azure-build-pipeline.yml
Due: check-language-version, lint-githubactions

Chore: [AEA-0000] - update gitallowed (#4285)
  .gitallowed
Due: none

chore: tmp debug of claim conversioN
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
Due: lint-coordinator, build-coordinator

Revert "chore: tmp debug of claim conversioN"
  packages/coordinator/tests/services/translation/request/dispense/dispense-claim.spec.ts
Due: lint-coordinator, build-coordinator

chore: tmp file to force pr
  failures.tmp
Due: none

Notes added by 'git notes add'
  db580052ca048e8a76503c36516fa48c8fe82ff5
Due: none

Notes added by 'git notes add'
  d037f52cb403cb87fdaed92502d9fb06ee924606
Due: none

release workflow on demand
  .github/workflows/ci.yml
Due: lint-githubactions

update github pages
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

use env variables
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Chore: [AEA-0000] - release workflow on demand (#4288)
  .github/workflows/cdk_release_code.yml
  .github/workflows/ci.yml
Due: lint-githubactions

Update unit tests to await the long running task in the task render
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-epsat-client

checkout gh-pages
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Fix: [AEA-0000] - fix updating release workfow (#4289)
  .github/workflows/cdk_release_code.yml
Due: lint-githubactions

Refactor certificate tests. Also, needed to update the gitallowed to not pick up on the certificates, for some reason
  .gitallowed
  packages/coordinator/tests/resources/certificates/test-resources.ts
Due: lint-coordinator, build-coordinator

update releases for internal-dev
  _data/internal-dev_deployments.csv
  _data/internal-dev_latest.csv
Due: none

update releases for internal-dev-sandbox
  _data/internal-dev-sandbox_deployments.csv
  _data/internal-dev-sandbox_latest.csv
Due: none

Attempt to fix sonar complaints
  packages/tool/site/client/tests/pages/withdrawPage.spec.tsx
Due: lint-epsat-client

Use new regression test branch
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

Tweak the regression test script to get branches correctly
  .github/workflows/run_regression_tests.yml
  azure/templates/run_tests.yml
Due: lint-githubactions

updates examples
  examples/primary-care/repeat-prescribing/1-Convert-Response-Send-200_OK.xml
  examples/primary-care/repeat-prescribing/1-Prepare-Request-200_OK.json
  examples/primary-care/repeat-prescribing/1-Process-Request-Send-200_OK.json
Due: oas-build-checks

[AEA-0000] add trivy ignore for axios peer dependency
  .trivyignore.yaml
Due: none

fixes cert wrapping
  packages/coordinator/tests/debug/verify-signature.spec.ts
Due: lint-coordinator, build-coordinator
